{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=2.3')}}">
{% endblock %}

{% block customJs %}
	<script src="{{asset('plugins/pwstrength/i18next.js')}}"></script>
	<script src="{{asset('plugins/pwstrength/pwstrength.js')}}"></script>
	<script src="{{asset('custom/js/changepwd.js?v=1.0')}}"></script>
{% endblock %}

{% block titlePage %}{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title">
			Datos de Cliente
		</h3>
	</div>
{% endblock %}

{% block bodyWindow %}
	<div class="card-body">
		<div class="">
			<div class="col-md-6">
				<div class="card card-secondary">
					<div class="card-header">
						<h3 class="card-title">Cambio de Contraseña</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<form role="form" method="POST" action="{{path('admin_change_password')}}">
						<div class="card-body">
							<div class="form-group toggle-pwd">
								<label for="exampleInputEmail1">Contraseña Actual</label>
								<div class="input-group">
									<input type="password" class="form-control" id="current_password" name="current_password" placeholder="Ingrese Contraseña Actual" required>
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-eye-slash toggle-eye"></i>
										</span>
									</div>
								</div>
							</div>
							

							<div class="form-group toggle-pwd" id="pwd-container">
								<label for="exampleInputPassword1">Contraseña Nueva</label>
								<div class="input-group">
									<input type="password" class="form-control" id="new_password" name="new_password" placeholder="Ingrese Contraseña Nueva" required>
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-eye-slash toggle-eye"></i>
										</span>
									</div>
								</div>								
								
								<div class="pwstrength_viewport_progress">
								</div>
								<span class="text-danger">
									<small>
									{% for flashMessage in app.session.flashbag.get('errormsg') %}
            							{{ flashMessage }}
									{% endfor %}
									</small>
								</span>
							</div>

							<div class="form-group toggle-pwd">
								<label for="exampleInputPassword1">Repetir Contraseña</label>
								<div class="input-group">
									<input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Ingrese nuevamente la Nueva Contraseña" required>
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-eye-slash toggle-eye"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- /.card-body -->

						<div class="card-footer">
							<button type="submit" class="btn btn-orange">Guardar Cambios</button>
						</div>
					</form>
				</div>
				<!-- /.card -->
			</div>
		</div>
	</div>

	<script>
		$ (document).ready (function (){

            {% for flashMessage in app.session.flashbag.get('warning') %}
            toastr.warning ('{{ flashMessage }}'){% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %}
            toastr.success ('{{ flashMessage }}'){% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
            toastr.error ('{{ flashMessage }}'){% endfor %}

        });
	</script>
{% endblock %}

{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
