
<div class="row ">
    <div class="col-sm-4">
        <label class="col-form-label">Envio</label>
        <h5 class="valorSubtotal">
            {{ valores.rubrosEnvios.totalItems|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        </h5>
    </div>
    <div class="col-sm-4">
        <label class="col-form-label">Descuento</label>
        <h5 class="valorIva">
            {{ valores.rubrosEnvios.totalDescuento|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        </h5>
    </div>
    <div class="col-sm-4">
        <label class="col-form-label">Total Envio</label>
        <h5 class="totalPagar">
            {{ valores.rubrosEnvios.totalPagar|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        </h5>
    </div>

</div>


<div class="row ">
    <div class="col-sm-4">
        <label class="col-form-label">Subtotal</label>
        <h5 class="valorSubtotal">
            {{ valores.subtotalItemsEnvios|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        </h5>
    </div>
    <div class="col-sm-4">
        <label class="col-form-label">I.V.A.(12%)</label>
        <h5 class="valorIva">
            {{ valores.totalIva|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        </h5>
    </div>
    <div class="col-sm-4">
        <label class="col-form-label">Total a Pagar</label>
        <h5 class="totalPagar">
            {{ valores.totalPagar|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        </h5>
    </div>

</div>
