<div class="form-group row" id="direccionesSection">
    <label class="col-sm-3 col-form-label">Direcciones</label>
    <div class="col-sm-9">
        <select class="form-control select2bs4" style="width: 100%;" name="direccion">
            <option value="" selected="selected">Seleccione Direcci&oacute;n</option>
            <option value=""></option>
            {% for direccion in direcciones %}
                <option value="{{ direccion.id }}" data-dest="{{ direccion.fullName }}" data-ciu="{{ direccion.ciudad }}" data-prov="{{ direccion.provincia }}" data-dir="{{ direccion.direccion1 }}">{{ direccion }}</option>
            {% endfor %}
        </select>
    </div>
    <div
        class="col-sm-3">{# <a href="{{path('admin_direcciones')}}" class="btn btn-secondary btn-block">Nueva</a> #}
    </div>
</div>



<div class="form-group row">
    <label class="col-sm-3 col-form-label">Método de Envio</label>
    <div class="col-sm-9">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="metodosEnvio">
            <label class="btn bg-op disabled" for="metodoServientrega">
                <input type="radio" name="metodoEnvio" id="metodoServientrega" autocomplete="off" value="SERVIENTREGA"/>
                <img src="{{ asset('dist/img/printo/servi.png') }}" alt="" class="img-fluid"/>
            </label>
            <label class="btn bg-op disabled" for="metodoPicker">
                <input type="radio" name="metodoEnvio" id="metodoPicker" autocomplete="off" checked value="PICKER"/>
                <img src="{{ asset('dist/img/printo/picker.png') }}" alt="" class="img-fluid"/>
                PICKER
            </label>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Pronto habilitaremos opción de envíos...!
        </small>
    </div>
</div>



<script>
    $('select[name="direccion"]').select2({theme: 'bootstrap4', placeholder: "Seleccciones una Dirección"});
</script>
