<table class="table table-hover">
	<thead>
		<tr>
			{# <th>No.</th> #}
			<th class="text-center" width="200">
				<i class="fas fa-paperclip"></i>
			</th>
			<th>Producto</th>
			<th class="text-center">Categoria</th>
			<th class="text-center">Cantidad</th>
			<th class="text-center">P. Unit.</th>
			<th class="text-center">Total</th>
			<th class="text-center">Acci&oacute;n</th>
		</tr>
	</thead>
	<tbody>
		{% if ordenDetalle.detalle is empty %}
			<tr id="itemEmpty">
				<td colspan="7">
					No hay productos agregados en el Ticket
				</td>
			</tr>
		{% else %}
			{% for item in ordenDetalle.detalle %}
				{% include 'admin/orden/historial/item_producto.html.twig' %}
			{% endfor %}

		{% endif %}
	</tbody>
</table>
