{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}">
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=1.2')}}">
{% endblock %}


{% block customJs %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
	<script src="{{asset('plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
	<script src="{{asset('custom/js/ordenhistory.js?v=1.8')}}"></script>
	<script>
		let urlPrepareUpload = "{{path('admin_prepare_edit_file_upload')}}";
		let urlEditItemFile = "{{path('admin_edit_item_file')}}";
		let urlUpdateFile = "{{path('admin_update_file')}}";
	</script>
{% endblock %}

{% block titlePage %}
<h3>Ticket #{{ordenDetalle.orden.noTicket}}</h3>
{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title">Detalle</h3>
	</div>
{% endblock %}

{% block bodyWindow %}
	<div class="card-body table-responsive p-0" id="productDetails">
		{% include 'admin/orden/historial/detalle_productos.html.twig' %}
	</div>
	<div class="overlay d-none" id="loadingDetails">
		<i class="fas fa-2x fa-sync-alt fa-spin"></i>
	</div>

	{% include 'admin/orden/historial/modal_producto.html.twig' %}

	<script>
		$(document).ready(function () {

			{% for flashMessage in app.session.flashbag.get('success') %}
				toastr.success('{{flashMessage}}')
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error') %}
				toastr.error('{{flashMessage}}')
			{% endfor %}

			$('#productDetails').on('click', '.confirmdelete', function() {
				let url = $(this).attr('data-url');
				$('#confirmacionEliminacion').attr('data-url', url);
			});
		});
		
	</script>

	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
