<table class="table table-hover text-nowrap">
	<thead>
		<tr>
			<th class="text-center"># Ticket</th>
			<th class="text-center">Asunto</th>
			<th class="text-center">Fecha Creaci&oacute;n</th>
			<th class="text-center">Acci&oacute;n</th>
		</tr>
	</thead>
	<tbody>
		{% if tickets is defined and tickets is empty %}
			<tr id="itemEmpty">
				<td colspan="4">
					No hay productos agregados en el Ticket
				</td>
			</tr>
		{% else %}
			{% for ticket in tickets %}
				<tr>
					<td class="text-center">{{ticket.ticketNumber}}</td>
					<td class="text-center">
						{{ticket.subject}}
					</td>
					<td class="text-center">
						{{ticket.createdTime|format_datetime("long",'medium', locale= 'es')}}
					</td>
					<td class="text-center">
						<a href="{{path('admin_order_detail',{ticket:ticket.ticketNumber})}}" class="btn btn-orange btn-sm">
							<i class="fas fa-file"></i>
						</a>
					</td>
				</tr>
			{% endfor %}

		{% endif %}
	</tbody>
</table>
