<input type="hidden" value="{{item.parentIdWdImpresion}}" name="parentIdWdImpresion">
<input type="hidden" value="{{item.parentIdWdElectro}}" name="parentIdWdElectro">
{% if item.files.fileIdImpresionTk is not empty %}
	<div class="form-group row">

		<div class="col-sm-4">
			<div class="custom-control custom-checkbox">
				<div class="">
					<input class="custom-control-input" type="checkbox" checked name="conservarImp" id="conservarImp">
					<label class="custom-control-label" for="conservarImp">Conservar Impresion</label>
				</div>
			</div>
		</div>
		<div class="col-sm-8 ">
			<div class="input-group d-none" id="conservarImpFile">
				<div class="custom-file">
					<input type="file" data-extallowed="{{extAllowImpresion}}" class="custom-file-input fileProduct" id="archivoimpresion" name="archivoimpresion">
					<label class="custom-file-label" for="archivoimpresion">Seleccione archivo
						{{extAllowImpresion}}
					</label>
				</div>
			</div>
		</div>

	</div>
{% endif %}

{% if item.files.fileIdElectroTk is not empty %}
	<div class="form-group row">

		<div class="col-sm-4">
			<div class="custom-control custom-checkbox">
				<div class="">
					<input class="custom-control-input" type="checkbox" checked name="conservarElec" id="conservarElec">
					<label class="custom-control-label" for="conservarElec">Conservar Electrocorte</label>
				</div>
			</div>
		</div>
		<div class="col-sm-8 ">
			<div class="input-group d-none" id="conservarElecFile">
				<div class="custom-file">
					<input type="file" data-extallowed="{{extAllowElectroco}}" class="custom-file-input fileProduct" id="archivoelectrocorte" name="archivoelectrocorte">
					<label class="custom-file-label" for="archivoelectrocorte">Seleccione archivo
						{{extAllowElectroco}}
					</label>
				</div>
			</div>
		</div>
	</div>
{% endif %}
