<div class="modal-header">
	<h4 class="modal-title">Producto</h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form action="{{path('admin_add_product')}}" class="form-horizontal" method="POST" enctype="multipart/form-data" id="formProduct">
	<div class="modal-body">
	
		<input type="hidden" name="idItem">

		<div class="alert alert-info">
			<h5>
				<i class="icon fas fa-ban"></i>
				Alerta!
			</h5>
			Solo se puede editar los archivos que ya fueron subidos a la plataforma, 
							desmaque la casilla conservar en caso de que desee reemplzar el archivo ya subido
		</div>

		<div id="panelEdicionArchivo"></div>

		<div class="overlay d-none" id="loadingproduct">
			<i class="fas fa-3x fa-spinner fa-pulse"></i>
		</div>
	</div>
	<div class="modal-footer justify-content-between">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		<button type="submit" class="btn btn-orange" id="addProduct">Actualizar Archivos</button>
	</div>
</form>
