<div class="modal fade" id="modal-producto">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div id="modal-form">
				{% include 'admin/orden/historial/modal_form.html.twig' %}
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script>
	$(function () {
		
	});
</script>
