{% extends 'default/default_login.html.twig' %}

{% block cssBlock %}
	<link rel="stylesheet" href="{{asset('custom/css/login.css?v=4.0')}}">
{% endblock %}

{% block customJs %}
	<script src="{{asset('custom/js/changepwd.js?v=1.0')}}"></script>
{% endblock %}

{% block title %}Hello AccessController!
{% endblock %}

{% block bodyBlock %}
	<div class="sidenav">
		<div class="login-main-text"></div>
	</div>
	<div class="main">
		<div class="col-md-8 offset-md-2 col-sm-12">
			<div class="login-form">

				<div class="login-logo">
					<a>
						<img src="{{asset('dist/img/printo/logo1.png')}}" alt="" class="image-logo">
					</a>
				</div>

				{% if error %}
					<div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h5>
							<i class="icon fas fa-ban"></i>
							Hubo un problema!</h5>
						Credenciales Incorrectas :
						{{error.messageKey}}
					</div>
				{% endif %}

				<form action="{{path('login')}}" method="POST" class="my-4">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="RUC" name="_username" value="{{last_username}}" required autocomplete/>
					</div>
					<div class="input-group mb-3 toggle-pwd">
						<div class="input-group">
							<input type="password" class="form-control" placeholder="CONTRASEÑA" name="_password" required autocomplete/>
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="fa fa-eye-slash toggle-eye"></i>
								</span>
							</div>
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<br>
					<div
						class="row">
						<!-- /.col -->
						<div class="col-8 offset-2">
							<button type="submit" class="btn btn-printo-orange btn-block btn-submit">
								Ingresar
							</button>
						</div>

						<div class="col-4"></div>
						<!-- /.col -->
						<div class="col-4"></div>
						<!-- /.col -->
					</div>
				</form>

				<p class="mb-1 text-center forgotpwd">
					<a href="{{path('pwd_recovery')}}">¿Olvid&eacute; mi contraseña?</a>
				</p>

				<p class="mt-5 text-center legendlogin">
					Al ingresar a Printo.Cloud aceptas todos nuestros<br>
					<a href="{{path('legal_terminos')}}" target="_blank">T&eacute;rminos y Condiciones</a>
					<br>
					<a href="{{path('legal_politicas_entrega')}}" target="_blank" class="text-dark">Pol&iacute;tica de Entrega</a>
					<span class="text-orange">|</span>
					<a href="{{path('legal_politicas_privacidad')}}" target="_blank" class="text-dark">Pol&iacute;tica de Privacidad</a>
				</p>

			</div>
		</div>
	</div>
{% endblock %}
