{% extends 'default/default_login.html.twig' %}

{% block cssBlock %}
	<link rel="stylesheet" href="{{asset('custom/css/login.css?v=4.0')}}">
{% endblock %}

{% block title %}Hello AccessController!
{% endblock %}

{% block bodyBlock %}

	<div class="sidenav">
		<div class="login-main-text"></div>
	</div>
	<div class="main">
		<div class="col-md-8 offset-md-2 col-sm-12">
			<div class="login-form">

				<div class="login-logo">
					<a href="../../index2.html">
						<img src="{{asset('dist/img/printo/logo1.png')}}" alt="" class="image-logo">
					</a>
				</div>

				{% if error is defined and error %}
					<div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h5>
							<i class="icon fas fa-ban"></i>
							Hubo un problema!</h5>
						Credenciales Incorrectas :
						{{error.messageKey}}
					</div>
				{% endif %}

				{% if email is defined %}
					<p>
						Se ha enviado un correo a
						<b>{{email}}</b><br>
						por favor, revisar su bandeja de entrada.
					</p>

					<p class="mb-1 text-center forgotpwd">
						<a href="{{path('login')}}">Iniciar Sesi&oacute;n</a>
					</p>

				{% else %}
					<form action="{{path('pwd_recovery')}}" method="POST" class="my-4">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="RUC" name="ruc" value=""/>
						</div>
						<br>
						<div
							class="row">
							<!-- /.col -->
							<div class="col-8 offset-2">
								<button type="submit" class="btn btn-printo-orange btn-block btn-submit">
									Recuperar Contrase&ntilde;a
								</button>
							</div>

							<div class="col-4"></div>
							<!-- /.col -->
							<div class="col-4"></div>
							<!-- /.col -->
						</div>
					</form>

					<p class="mb-1 text-center forgotpwd">
						<a href="{{path('login')}}">Ya poseo una cuenta</a>
					</p>
				{% endif %}


				<p class="mt-5 text-center legendlogin">
					Al ingresar a Primera impresi&oacute;n, aceptas todos nuestros<br>
					<a>T&eacute;rminos y Condiciones</a>
				</p>

			</div>
		</div>
	</div>
	{# <div class="login-box">
							<div class="login-logo">
								<a href="../../index2.html">
									<img src="{{asset('dist/img/logo.png')}}" alt="" class="image-logo">
								</a>
							</div>
							<!-- /.login-logo -->
							<div class="card">
								<div class="card-body login-card-body">
									<p class="login-box-msg">Iniciar sesi&oacute;n</p>
					
									{% if error %}
										<div class="alert alert-danger alert-dismissible">
											<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
											<h5>
												<i class="icon fas fa-ban"></i>
												Hubo un problema!</h5>
											Credenciales Incorrectas :
											{{error.messageKey}}
										</div>
									{% endif %}
					
									<form action="{{path('login')}}" method="POST">
										<div class="input-group mb-3">
											<input type="text" class="form-control" placeholder="RUC" name="_username" value="{{last_username}}"/>
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-envelope"></span>
												</div>
											</div>
										</div>
										<div class="input-group mb-3">
											<input type="password" class="form-control" placeholder="Contraseña" name="_password"/>
											<div class="input-group-append">
												<div class="input-group-text">
													<span class="fas fa-lock"></span>
												</div>
											</div>
										</div>
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										<div class="row">
											<!-- /.col -->
											<div class="col-4">
												<button type="submit" class="btn btn-orange btn-block">
													Ingresar
												</button>
											</div>
					
											<div class="col-4">
												
											</div>
											<!-- /.col -->
											<div class="col-4">
												
											</div>
											<!-- /.col -->
										</div>
									</form>
					
									<p class="mb-1">
										<a href="forgot-password.html">Olvid&eacute; mi contraseña</a>
									</p>
					
								</div>
								<!-- /.login-card-body -->
							</div>
						</div> #}
{% endblock %}
