{% extends 'default/default_login.html.twig' %}

{% block title %}Hello AccessController!
{% endblock %}

{% block bodyBlock %}
	<div class="login-box">
		<div class="login-logo">
			<a href="../../index2.html">
				<img src="{{asset('dist/img/logo.png')}}" alt="" class="image-logo">
			</a>
		</div>
		<!-- /.login-logo -->
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Registrar</p>

				{% if error %}
					<div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h5>
							<i class="icon fas fa-ban"></i>
							Hubo un problema!</h5>
						{{error}}
					</div>
				{% endif %}

				{% if success %}
					<div class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h5>
							<i class="icon fas fa-ban"></i>
							Registrado!</h5>
						{{success}}
					</div>
				{% endif %}

				<form action="{{path('register')}}" method="POST">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="RUC" name="_username" required="required" title="Ingrese el RUC"/>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="row">
						<div class="col-8">
							<div class="icheck-primary">
								<input type="checkbox" id="remember"/>
								<label for="remember">
									Recu&eacute;rdame
								</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">
								Registrar
							</button>
						</div>
						<!-- /.col -->
					</div>
				</form>


				<p class="mb-1">
					<a href="{{path('login')}}">Ya tengo acceso</a>
				</p>

			</div>
			<!-- /.login-card-body -->
		</div>
	</div>
{% endblock %}
