{% set esProforma = app.session.get('esProforma') %}
<input type="hidden" name="productoname" value="{{ producto.nombreProducto }}"/>
<input type="hidden" name="errorSubida" value="{{ item is not empty and not item.subidaImpresion and not item.subidaElectro }}"/>

<div class="form-group row ">
    <label class="col-lg-3 col-form-label text-right" for="alias">Nombre Referencia</label>
    <div class="col-lg-8">
        <input type="text" class="form-control is-valid" placeholder="" name="alias" id="alias" required/>
    </div>
</div>

{% if not esProforma %}
    <div class="form-group row ">
        <label class="col-lg-3 col-form-label text-right">Imagen Referencia</label>
        <div class="col-lg-8">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" data-extallowed="JPG,PNG" class="custom-file-input fileProduct is-valid" id="imgRef" name="imgRef"/>
                    <label class="custom-file-label" for="imgRef">Seleccione archivo jpg, png</label>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% set config = features.MIMAKI.caracteristicas %}
<div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">Ancho</label>
    <div class="col-sm-3 input-group">
        <select class="form-control select2bs4" style="width: 100%;" name="ancho" required>
            {% for ancho in config.anchos_disponibles|split(',') %}
                <option value="{{ ancho/100 }}">{{ ancho/100 }}</option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <span class="input-group-text">metros</span>
        </div>
    </div>
    <label class="col-sm-3 col-form-label text-right">Alto</label>
    <div class="input-group col-sm-3">
        {% if config.altos_disponibles != "Todos" %}
            <input type="number" class="form-control" required name="alto" min="0" max="{{ (config.altos_disponibles + 0)/100 }}" step="0.01"/>
        {% else %}
            <input type="number" class="form-control" required name="alto" min="0" step="0.01"/>
        {% endif %}
        <div class="input-group-prepend">
            <span class="input-group-text">metros</span>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">Cantidad</label>
    <div class="col-sm-3">
        <input type="number" class="form-control" required name="cantidad" min="0" value="1"/>
    </div>
    {% if features.MIMAKI.corteRecto %}
        <label class="col-sm-3 col-form-label text-right">¿Corte Recto?</label>
        <div class="col-sm-3">
            <input type="checkbox" name="necesitacorterecto" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO"/>
        </div>
    {% endif %}
</div>


{% if features.MIMAKI.electrocorte %}
    <hr/>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">¿Necesita Electrocorte ?</label>
        <div class="col-sm-3">
            <input type="checkbox" name="necesitaelectrocorte" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO"/>
        </div>
    </div>
{% endif %}

{% if features.MIMAKI.laminar %}
    <hr/>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">¿Necesita Laminar?</label>
        <div class="col-sm-3">
            <input type="checkbox" name="necesitalaminar" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO"/>
        </div>
        <label class="col-sm-3 col-form-label laminadosection d-none text-right">¿Tipo Laminado?</label>
        <div class="col-sm-3 laminadosection d-none">
            <select class="form-control select2bs4" style="width: 100%;" name="laminado">
                <option value="" selected="selected">Seleccione Tipo</option>
                <option value="BRILLO">Brillo</option>
                <option value="MATE">Mate</option>
                <option value="FLOOR GRAPHIC">Floor Graphic</option>
            </select>
        </div>
    </div>

{% endif %}
{% if features.MIMAKI.ojales %}
    <hr/>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">¿Necesita Ojales ?</label>
        <div class="col-sm-3">
            <input type="checkbox" name="necesitaojales" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO"/>
        </div>
        <div class="col-sm-6 d-none ojalessection">
            <div class="row">
                <label class="col-sm-6 col-form-label text-right ">Cantidad Ojales</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="cantojales" name="cantojales" min="0"/>
                </div>
            </div>
        </div>

    </div>
{% endif %}

<hr/>
<div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">Observaci&oacute;n</label>
    <div class="col-sm-9">
        <textarea name="observacion" id="observacion" cols="60" rows="4" class="form-control" max="300" required></textarea>
        <small class="form-text text-muted">
            Máximo 150 caracteres
        </small>
    </div>
</div>

{% if not esProforma %}

    {% if item is not empty %}
        <div class="form-group row d-none" id="conservarfiles">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <div class="custom-control custom-checkbox">
                    <div class="">
                        <input class="custom-control-input" type="checkbox" checked name="conservar" id="conservar"/>
                        <label class="custom-control-label" for="conservar">Conservar Archivos</label>
                    </div>
                </div>
            </div>
        </div>
        {% if item.subidaImpresion or item.subidaElectro %}
            <div class="alert alert-info">
                <h5>
                    <i class="icon fas fa-ban"></i>
                    Alerta!</h5>
                Si desea reemplazar sus archivos, deseleccionar esta opci&oacute;n
            </div>
        {% endif %}
    {% endif %}

    <div id="groupfile">
        <div class="form-group row" id="imprefile">
            <label class="col-sm-3 col-form-label text-right">Archivo de Impresi&oacute;n</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" data-extallowed="{{ extAllowImpresion }}" class="custom-file-input fileProduct" id="archivoimpresion" name="archivoimpresion" required/>
                        <label class="custom-file-label" for="archivoimpresion">Seleccione archivo
                            {{ extAllowImpresion }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row d-none" id="electofile">
            <label class="col-sm-3 col-form-label text-right">Archivo de Electrocorte</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" data-extallowed="{{ extAllowElectroco }}" class="custom-file-input fileProduct" id="archivoelectrocorte" name="archivoelectrocorte"/>
                        <label class="custom-file-label" for="archivoelectrocorte">Seleccione archivo
                            {{ extAllowElectroco }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if item is not empty and not item.subidaImpresion and not item.subidaElectro %}
        <div class="alert alert-danger">
            <h5>
                <i class="icon fas fa-ban"></i>
                Alerta!</h5>
            Algunos archivos no se pudieron subir, por favor, corregir el inconveniente.
        </div>
    {% endif %}

{% endif %}


<script src="{{ asset('custom/js/productos/common.js?v=1.0') }}"></script>
<script src="{{ asset('custom/js/productos/mimaki.js?v=1.0') }}"></script>

{% if item is defined and item is not empty %}
    <script>
        esEdit = true;
        item = JSON.parse('{{ item|json_encode|raw }}');
    </script>
{% else %}
    <script>
        esEdit = false;
    </script>
{% endif %}
