{% set esProforma = app.session.get('esProforma') %}
<input type="hidden" name="productoname" value="{{ producto.nombreProducto }}"/>
<input type="hidden" name="errorSubida" value="{{ item is not empty and not item.subidaImpresion and not item.subidaElectro }}"/>


<div class="form-group row ">
    <label class="col-lg-3 col-form-label text-right" for="alias">Nombre Referencia</label>
    <div class="col-lg-8">
        <input type="text" class="form-control is-valid" placeholder="" name="alias" id="alias" required/>
    </div>
</div>


{% if not esProforma %}
    <div class="form-group row ">
        <label class="col-lg-3 col-form-label text-right">Imagen Referencia</label>
        <div class="col-lg-8">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" data-extallowed="JPG,PNG" class="custom-file-input fileProduct is-valid" id="imgRef" name="imgRef"/>
                    <label class="custom-file-label" for="imgRef">Seleccione archivo jpg, png</label>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% set config = features.XEROX.caracteristicas %}
<div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">Tipo de Corte</label>
    <div class="col-sm-9">
        <select class="form-control select2bs4" style="width: 100%;" name="tipocorte" required>
            <option value="" selected="selected">Seleccione Tipo</option>
            <option value="PLANAS">No lleva corte</option>
            <option value="RECTO">Corte Recto Guillotina</option>
            <option value="ELECTROCORTE">Con Electrocorte</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">¿Necesita Laminar?</label>
    <div class="col-sm-3">
        <input type="checkbox" name="necesitalaminar" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO"/>
    </div>
    <label class="col-sm-3 col-form-label laminadosection d-none text-right">¿Tipo Laminado ?</label>
    <div class="col-sm-3 laminadosection d-none">
        <select class="form-control select2bs4" style="width: 100%;" name="laminado">
            <option value="" selected="selected">Seleccione Tipo</option>
            <option value="BRILLO">Brillo</option>
            <option value="MATE">Mate</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">Cantidad Hojas</label>
    <div class="col-sm-3">
        <input type="number" class="form-control" required name="cantidad" value="1" min="1"/>
    </div>
    <label class="col-sm-3 col-form-label text-right">¿Tipo Impresi&oacute;n?</label>
    <div class="col-sm-3">
        <select class="form-control select2bs4" style="width: 100%;" name="impresion" required>
            {% if ((config.tipo_impresion is defined and config.tipo_impresion == 'TIRO')
					or producto.categoriaProducto.categoria in ['Adhesivos']) %}
                <option value="TIRO" selected>Un Lado</option>
            {% else %}
                <option value="" selected="selected">Seleccione Tipo</option>
                <option value="TIRO">Un Lado</option>
                <option value="T/R">Ambos Lados</option>
            {% endif %}
        </select>
    </div>
</div>

<hr/>
<div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">Observaci&oacute;n</label>
    <div class="col-sm-9">
        <textarea name="observacion" id="observacion" cols="60" rows="4" class="form-control" max="300" required></textarea>
        <small class="form-text text-muted">
            Máximo 150 caracteres
        </small>
    </div>
</div>

{% if not esProforma %}

    {% if item is not empty %}
        <div class="form-group row d-none" id="conservarfiles">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <div class="custom-control custom-checkbox">
                    <div class="">
                        <input class="custom-control-input" type="checkbox" checked name="conservar" id="conservar"/>
                        <label class="custom-control-label" for="conservar">Conservar Archivos</label>
                    </div>
                </div>
            </div>
        </div>
        {% if item.subidaImpresion or item.subidaElectro %}
            <div class="alert alert-info">
                <h5>
                    <i class="icon fas fa-ban"></i>
                    Alerta!</h5>
                Si desea reemplazar sus archivos, deseleccionar esta opci&oacute;n
            </div>
        {% endif %}
    {% endif %}


    <div id="groupfile">
        <div class="form-group row" id="imprefile">
            <label class="col-sm-3 col-form-label text-right">Archivo de Impresi&oacute;n</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" data-extallowed="{{ extAllowImpresion }}" class="custom-file-input fileProduct" id="archivoimpresion" name="archivoimpresion" required/>
                        <label class="custom-file-label" for="archivoimpresion">Seleccione archivo
                            {{ extAllowImpresion }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row d-none" id="electofile">
            <label class="col-sm-3 col-form-label text-right">Archivo de Electrocorte</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" data-extallowed="{{ extAllowElectroco }}" class="custom-file-input fileProduct" id="archivoelectrocorte" name="archivoelectrocorte"/>
                        <label class="custom-file-label" for="archivoelectrocorte">Seleccione archivo
                            {{ extAllowElectroco }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if item is not empty and not item.subidaImpresion and not item.subidaElectro %}
        <div class="alert alert-danger">
            <h5>
                <i class="icon fas fa-ban"></i>
                Alerta!</h5>
            Algunos archivos no se pudieron subir, por favor, corregir el inconveniente.
        </div>
    {% endif %}

{% endif %}

<script src="{{ asset('custom/js/productos/common.js?v=1.0') }}"></script>
<script src="{{ asset('custom/js/productos/xerox.js?v=1.0') }}"></script>

{% if item is defined and item is not empty %}
    <script>
        esEdit = true;
        esCorteSinCorteAElectro = {{ (not item.electrocorte)? 'true' : 'false' }};
        esElectroAElecto = {{ (item.electrocorte)? 'true' : 'false' }};
        item = JSON.parse('{{ item|json_encode|raw }}');
    </script>
{% else %}
    <script>
        esEdit = false;
    </script>
{% endif %}
