{% extends 'default/default_login.html.twig' %}

{% block cssBlock %}
<link rel="stylesheet" href="{{asset('custom/css/login.css?v=4.0')}}">
{% endblock %}

{% block customJs %}
<script src="{{asset('custom/js/changepwd.js?v=1.0')}}"></script>
{% endblock %}

{% block title %}Hello AccessController!
{% endblock %}

{% block bodyBlock %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center py-5 btn-printo-orange">
            <img src="{{asset('dist/img/printo/logo3.png')}}" alt="" class="image-logo-legal px-5">
        </div>
        <div class="col-lg-12">
            <h1 class="text-center">Políticas de Entrega</h1>
            <p class="text-justify">
                <span style="color: #ff0000; font-size: 20px;">
                    <b>Costo de envío y despacho de productos</b>
                </span>
                <br>
                El costo de envío de los artículos es dinámico, pudiendo pagar tarifa regular, tarifa regular menos un
                50% o no pagar (envío gratis). El cálculo será visible por el usuario y efectuado por la plataforma,
                varía en función de la distancia y monto total de compra.
            </p>
            <p class="text-justify">
                <span style="color: #ff0000; font-size: 20px;">
                    <strong>Despacho de los productos</strong>
                </span>
                <br>
                Los productos adquiridos en cada compra serán enviados a una sola dirección de entrega dentro de
                Guayaquil, Durán o Samborondón. Toda la información detallada en el envío, tales como: la dirección de
                envío, medio de pago, datos de la factura, entre otros, son de exclusiva responsabilidad del usuario.
                <br>
                Una vez que el producto este listo, la plataforma envía un whatsapp y correo indicando que el mismo
                puede despacharse, en este punto el usuario puede decidir en que momento quiere que enviemos su pedido,
                tendrá que enviar un texto que diga
                <strong>#Enviar</strong> desde su <strong>whatsapp</strong>, en ese momento una moto llegará
                automáticamente a nuestro establecimiento para entregar directamente al destino indicado. Cabe recalcar
                que Printo.Cloud no realiza coordinación de envío con ningún usuario, el mismo tendrá siempre que hacer
                la acción indicada.
                <strong>(Escribir #Enviar cuando este listo para que despachemos su pedido).</strong>
            </p>
            <p class="text-justify">
                <span style="color: #ff0000; font-size: 20px;">
                    <strong>Sobre los proveedores de logística</strong>
                </span>
                <br>
                Printo.Cloud mantiene una integración robusta con la plataforma Picker, de esta forma podemos manejar
                cientos de entregas de forma simultánea.
                <br>
                En el caso de que el proveedor incumpla deberá comunicarse con Printo.Cloud para evaluar el caso.
                <br>
                Si por alguna razón el producto no llegó a su destino puede pedir un reembolso total a Printo.Cloud,
                esto
                será validado en conjunto con Picker y puede tardar alrededor de 2 horas.
            </p>
            <p class="text-justify">
                <span style="color: #ff0000; font-size: 20px;">
                    <strong>Cobertura</strong>
                </span>
                <br>
                Actualmente cubrimos todo Guayaquil, Durán y Samborondón pronto estaremos hábiles a nivel nacional.
            </p>
            <p class="text-justify">
                <span style="color: #ff0000; font-size: 20px;">
                    <strong>Tiempo de Entrega</strong>
                </span>
                <br>
                Printo.Cloud es un servicio ultra rápido, en realidad la mayoría de las solicitudes se resuelven en
                menos de
                4 horas, puede darse el caso dependiendo el volúmen solicitado que tardemos hasta 24 horas y hasta 48
                horas
                en pedidos muy extensos. Si desea evaluar con precisión debe escribir al chat de soporte.
            </p>
            <p class="text-justify">
                <span style="color: #ff0000; font-size: 20px;">
                    <strong>Sobre devoluciones</strong>
                </span>
                <br>
                En Printo.Cloud nuestra prioridad es tu satisfacción, es por esto que, para brindarte una mejor
                experiencia
                de compra, en caso de que no estés satisfecho con el producto comprado, podrás devolverlo dentro de las
                48
                horas hábiles posteriores a su producción.
                <br>
                Para poder devolver tu producto debes tener en cuenta las siguientes condiciones con respecto al estado
                del
                mismo:
            </p>
            <p class="text-justify">
                <strong>Primero Confirma</strong>
            </p>
            <ul>
                <li>Mira si realmente no es el material que pediste revisando previamente el historial de compras.</li>
                <li>Si el color es diferente, entonces checa tu archivo para verificar si pusiste correctamente los
                    porcentajes correctos de tinta o códigos pantone asociados a tu diseño. (El color pantone solo
                    aplica su uso con el catálogo Xerox y únicamente a equipos Xerox con el perfil de color de
                    Printo.Cloud)</li>
                <li>Revisa que tu archivo haya sido enviado en CMYK y no RGB, Printo.Cloud garantiza su servicio
                    revisando errores técnicos de plantillas, sin embargo, esta revisión no incluye el tipo de archivo
                    enviado, asegúrate que tu diseño siempre sea trabajado en CMYK.</li>
            </ul>
            <p class="text-justify">
                Si te das cuenta son cosas técnicas bastante intuitivas, sin embargo, no está demás indicar que para
                estos
                casos no hacemos devoluciones, te recomendamos utilizar el manual Xerox y Mimaki, de esa forma tendrás
                guía
                siempre.
                <br>
                Si tu suscripción es gratuita, es mejor que utilices materiales que conozcas o suscríbete a uno de
                nuestros
                planes de pago al menos un mes para que puedas tener tus propios catálogos.
            </p>
            <p class="text-justify">
                <strong>Cuando tengas seguridad de que todo esté en orden puedes pedir una devolución en los siguientes
                    casos</strong>
            </p>
            <ul>
                <li>Si tu pedido vino mal cortado. Tener en cuenta que todas las prensas digitales tienen un margen de
                    error mínimo de 1 mm aproximadamente, esto es normal. Por ello para corregir esto, es indispensable
                    que mandes tu diseño con al menos 2mm de excedente de impresión por lado, puedes enviarlo sin
                    excedentes, pero seguramente el área de soporte te avisará de que posiblemente presente problemas en
                    el corte, solo avanzaríamos bajo tu confirmación a sabiendas de que la calidad del corte va
                    disminuir.</li>
                <li>Si el pantone impreso en Xerox no coincide con el de nuestro catálogo. En tu pantonera encontrarás
                    colores exactos para los papeles, bond, couche brillo y mate. Si utilizas un material diferente es
                    probable que los pantones sean alterados, te recomendamos una prueba de color en estos casos. Si
                    fuese uno de los materiales mencionados y el tono es distinto, entonces si aplica devolución.</li>
                <li>Si mandas a imprimir en vinil transparente, ten en cuenta que nuestra prensa digital no trabaja con
                    color blanco, es preferible compres una prueba de color para que visualices y hagas todas las
                    pruebas del caso.</li>
            </ul>
            <p class="text-justify">
                Si tienes algún problema diferente por favor escríbenos al chat inmediatamente, de esa forma evaluaremos
                el caso.
                <br>
                Una vez confirmado que se aplican las condiciones de devolución del producto, puede pedir reimpresión o
                devolución de tu dinero. Para el primer caso el tiempo de respuesta puede variar entre 4 horas y 1 día
                en la mayoría de los casos. Si tu producto tiene más tiempo de elaboración, entonces tardaría
                aproximadamente lo que se demoró la primera vez.
            </p>

        </div>
    </div>
</div>{% endblock %}