{% extends 'default/default_login.html.twig' %}

{% block cssBlock %}
<link rel="stylesheet" href="{{asset('custom/css/login.css?v=4.0')}}">
{% endblock %}

{% block customJs %}
<script src="{{asset('custom/js/changepwd.js?v=1.0')}}"></script>
{% endblock %}

{% block title %}Hello AccessController!
{% endblock %}

{% block bodyBlock %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center py-5 btn-printo-orange">
            <img src="{{asset('dist/img/printo/logo3.png')}}" alt="" class="image-logo-legal px-5">
        </div>
        <div class="col-lg-12">
            <h1 class="text-center">Políticas de Privacidad</h1>

            <p class="text-justify">
                Este contenido indica cómo serán utilizados y protegidos los datos del cliente por Printo.Cloud. Cuando
                el cliente registre datos en este sitio web, estará aceptando automáticamente las reglas de uso,
                protección y seguridad que aquí se mencionan.
            </p>
            <p class="text-justify">
                <strong>Seguridad y Protección de Datos Personales</strong>
                <br>
                La seguridad de los datos personales del cliente es una prioridad para Printo.Cloud por eso nuestro
                sitio web ofrece el más alto nivel de seguridad.
                <br>
                En la práctica, el cliente puede reconocer que la transacción que está realizando está protegida por un
                servidor seguro cuando en su navegador aparece una llave o un candado cerrado en la parte izquierda o
                bien, un candado cerrado en la parte derecha.
                <br>
                Además, en nuestro sitio de compras, el cliente podrá verificar que está presente el certificado de
                seguridad que ha sido otorgado por SSL. Global Sign.
            </p>
            <p class="text-justify">
                <strong>Tu Privacidad</strong>
                <br>
                Printo.Cloud respeta tu privacidad. Toda información que nos sea proporcionada será tratada con cuidado
                manteniendo su integridad, y solo será utilizada por Printo.Cloud y la imprenta Primera Impresión.
            </p>
            <p class="text-justify">
                <strong>Registro del usuario o cliente</strong>
                <br>
                Para poder realizar diferentes transacciones y adquirir productos en nuestra tienda virtual es necesario
                primero registrarte, el registro lo realiza nuestro personal de ventas quien previamente habrá validado
                que cumples con las características de un cliente Printo.Cloud, posterior a ese filtro tendrás tus
                credenciales de acceso.
            </p>
            <p class="text-justify">
                <strong>Contraseña</strong>
                <br>
                El usuario tendrá la posibilidad de cambiar la clave de acceso, para lo cual debe sujetarse al
                procedimiento establecido en el sitio.
                <br>
                El usuario asume totalmente la responsabilidad por el mantenimiento de la confidencialidad de su clave
                secreta registrada en este sitio web, la cual le permite efectuar compras, y obtener información. Dicha
                clave es de uso personal y su entrega a terceros, no involucra responsabilidad de Printo.Cloud en caso
                de mala utilización.
            </p>
            <p class="text-justify">
                <strong>Compromiso con la Seguridad</strong>
                <br>
                Printo.Cloud declara que su sitio es seguro y entrega a los clientes un servicio de alto nivel, con los
                controles internos apropiados que garantizan un correcto uso de la información.
            </p>
            <p class="text-justify">
                <strong>¿Cómo utilizamos la información del cliente?</strong>
                <br>
                Printo.Cloud utilizará la información del cliente para:
            </p>
            <ol>
                <li>El propósito específico para el cual se la suministró (transacciones de ventas por Internet).</li>
                <li>Conocer gustos, preferencias y características de nuestro mercado.</li>
            </ol>
            <p class="text-justify">
                Cuando el cliente registre sus datos personales, estará automáticamente autorizando a Printo.Cloud a
                usar tus datos personales de conformidad con esta Política de Privacidad.
                <br>
                Los usuarios registrados recibirán por correo electrónico y Whatsapp todo lo que involucre al proceso de
                tus pedidos, así mismo de vez en cuando recibirás información de utilidad para la comunidad de
                diseñadores.
            </p>
            <p class="text-justify">
                <strong>Recomendaciones generales sobre la protección de tu privacidad</strong>
                <br>
                Al momento de abandonar nuestro sitio web, termina tu sesión de cliente registrado y cierre la ventana
                del navegador, de modo que terceras personas no puedan tener acceso a tus datos personales,
                especialmente cuando utilice computadores públicos o éstos sean compartidos. Printo.Cloud no será
                responsable si se hace caso omiso de estas recomendaciones, ni por cualquier daño causado por tal
                negligencia.
            </p>
            <p class="text-justify">
                <strong>Información de Boletines</strong>
                <br>
                Los usuarios suscritos al boletín, recibirán correos y whatsapp que contendrán información relacionada
                con productos, promociones, novedades, etc.
                <br>
                Los usuarios que ya no deseen recibir los boletines pueden dejar de recibirlos solicitando a el chat de
                soporte que no desea recibir más notificaciones o escribiendo a nuestro correo soporte@printo.cloud.
            </p>
            <p class="text-justify">
                <strong>Atención al Cliente</strong>
                <br>
                Para consultas, requerimientos, sugerencias o reclamos, comunicarse con el equipo desde nuestro chat de
                soporte al diseñador o escribirnos a soporte@printo.cloud
            </p>

        </div>
    </div>
</div>
{% endblock %}