{% extends 'default/default_login.html.twig' %}

{% block cssBlock %}
<link rel="stylesheet" href="{{asset('custom/css/login.css?v=4.0')}}">
{% endblock %}

{% block customJs %}
<script src="{{asset('custom/js/changepwd.js?v=1.0')}}"></script>
{% endblock %}

{% block title %}Hello AccessController!
{% endblock %}

{% block bodyBlock %}

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center py-5 btn-printo-orange">
			<img src="{{asset('dist/img/printo/logo3.png')}}" alt="" class="image-logo-legal px-5">
		</div>
		<div class="col-lg-12">
			<h1 class="text-center">Términos y Condiciones</h1>

			<p class="text-justify">
				Este documento constituye un acuerdo conforme los términos y condiciones generales y las políticas de
				privacidad aplicables al acceso y uso de los servicios ofrecidos por Printo.Cloud dentro del sitio
				https://www.printo.cloud, y/u otros dominios (urls) relacionados en adelante, en donde éstos Términos y
				Condiciones se encuentren.
				Todas las compras y transacciones que sean realizadas en este sitio web se regirán por los términos y
				condiciones aquí descritas, así como por la legislación aplicable en la República del Ecuador. Estos
				términos y condiciones tienen un carácter vinculante y, por lo tanto, los usuarios que no deseen
				aceptarlos deberán abstenerse de utilizar este sitio web y/o sus servicios, pues su uso implica
				aceptación incondicional de tales términos y condiciones.
				Por dicha utilización del sitio o sus servicios, el usuario se obligará a cumplir expresamente con las
				mismas, no pudiendo alegar el desconocimiento de tales
			</p>
            <p class="text-justify">
				<strong>Términos y Condiciones</strong>y de la
				<strong>Política de Privacidad</strong>.
				<br>
				Los servicios sólo estarán disponibles para personas que tengan capacidad legal para comprar, además
				deben ser diseñadores gráficos, agencias de publicidad o imprentas que requieran servicios asociados a
				la plataforma. Por lo tanto, los servicios de este sitio web no podrán ser utilizados, por menores de
				edad, personas inhabilitadas legalmente para contratar y personas que hayan incumplido estos términos y
				condiciones.
				<br>
				Quien registre un usuario como empresa, deberá tener capacidad para contratar a nombre de tal entidad y
				de obligar a la misma en los términos de este acuerdo.
				Se entenderá que los usuarios prestan su consentimiento, expreso, libre y voluntario, a los términos y
				condiciones aquí expresados, mediante la aceptación de los mismos a través de los medios establecidos en
				este sitio web.
			</p>
            <p class="text-justify">
				<span style="color: #ff0000;">
					<strong>Sobre la Contraseña</strong>
				</span>
				<br>
				<a href="{{path('legal_politicas_privacidad')}}">Ver política de privacidad</a>
			</p>
            <p class="text-justify">
				<span style="color: #ff0000;">
					<b>Sobre las Compras en Línea</b>
				</span>
				<br>
				Printo.Cloud por medio de su sitio web, realiza ofertas de bienes que podrán ser aceptadas por el
				cliente vía electrónica utilizando los mecanismos que el mismo sitio ofrece.
				<br>
				Realizamos la validación de cada compra con el banco emisor de la tarjeta, solicitaremos la autorización
				de la compra al banco emisor, en caso de que el banco emisor de la tarjeta no autorice la compra, esta
				no procederá.
				<br>
				Luego de haber realizado la validación de la compra, el pedido entra a un estado "EN PROCESO", el mismo
				quedarà vigente hasta que cambie a "LISTO PARA ENTREGA", llegado a este punto el trabajo se envía o se
				retira en nuestro establecimiento en Guayaquil.
			</p>
            <p class="text-justify">
				<span style="color: #ff0000;">
					<b>Sobre las Formas de Pago
					</b>
				</span>
				<br>
				Existen varias formas de pago que irán apareciendo en el portal.
				<br>
				En el caso de tarjetas, sólo pueden ser pagados con tarjetas de débito o crédito Visa, Mastercard,
				Diners, American Express y Discover emitidas en Ecuador , el pago podrá ser en rotativo, o puede
				diferirse con intereses o sin intereses, según esté disponible la opción en Printo.Cloud.
				<br>
				Al momento de realizar el pago por un producto para que éste sea enviado al usuario, solicitaremos la
				información necesaria para cumplir con el envío del producto y pondrá a elección del usuario los medios
				de pago disponibles para la compra.
				<br>
				Printo.Cloud cumple con el estándar de datos PCI DSS. Todos los datos bancarios que se almacenen
				quedarán encriptados, de esta forma ni siquiera nosotros podremos tener acceso a ellos. Maximizamos la
				seguridad y brindamos una experiencia de compra inigualable. Cabe recalcar que nuestra pasarela de pagos
				es Datafast, líder en pagos electrónicos a nivel nacional.
				<br>
				Si la compra fue ya pagada a través de una tarjeta de crédito/ débito y Printo.Cloud no fue notificada
				de ninguna irregularidad en el uso de dicho medio de pago, Printo.Cloud entregará el producto y no será
				responsable por el mal uso del medio de pago.
			</p>
            <p class="text-justify">
				<span style="color: #ff0000;">
					<strong>Costo de Envío y Despacho</strong>
				</span>
				<br>
				<a href="{{path('legal_politicas_entrega')}}">Ver Políticas de Entrega</a>
			</p>
            <p class="text-justify">
				<span style="color: #ff0000;">
					<strong>PROPIEDAD INTELECTUAL</strong>
				</span>
				<br>
				Los derechos de propiedad intelectual contenidos en este sitio web se encuentran protegidos por las
				leyes aplicables a la materia.
				<br>
				En consecuencia, los elementos aquí incluidos (fotos, diseños, logos, etc.), no pueden ser reproducidos,
				usados, adaptados o comercializados por este u otros medio sin la existencia de la aprobación previa y
				escrita de Printo.Cloud.
			</p>
            <p class="text-justify">
				<span style="color: #ff0000;">
					<strong>MODIFICACION DE LOS TÉRMINOS Y CONDICIONES
					</strong>
				</span>
				<br>
				Los TÉRMINOS Y CONDICIONES podrán ser actualizados o modificados por Printo.Cloud en cualquier momento.
				<br>
				En caso de que se actualicen o modifiquen los TÉRMINOS Y CONDICIONES, Printo.Cloud informará de ello
				mediante el canal que crea conveniente, quedando registrado fecha de los cambios que se han hecho.
			</p>

		</div>
	</div>
</div>
{% endblock %}