.order-page {
  margin: 20px auto 0;
  width: 900px;
}

.bg-op {
  border-color: #3d9970 !important;
  color: #000000;
}

.bg-op.active {
  background-color: #3d9970 !important;
  color: #ffffff;
}

#productDetails .progress {
  margin-top: 10px;
}

select[name="ancho"] + .select2-container {
  width: 0% !important;
}

.stripHr {
  font-size: 80%;
  line-height: 16px;
  /* font-weight: lighter; */
}

/* TOGGLE PWD */
.toggle-pwd input {
  border-right: none;
}

.toggle-pwd .input-group-text {
  background: none;
  cursor: pointer;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: rgba(255, 87, 34, 0.3);
  color: #fff;
}

#period {
  /* width: 60%; */
  margin: auto;
  border-bottom: 0px;
}

#period .nav-item {
  /* width: 25%; */
  text-align: center;
}

#period .nav-item a {
  border: 0px solid;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 0 20px -4px 0;
  font-size: 16px;

  padding: 25px 25px 12px 25px;

  color: #ffffff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #ff5722;
  margin-right: 0px;
  margin-left: 0px;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #00467a;
  opacity: 0.3;

  border-radius: 0%;
}

#period .nav-item a.active {
  background-color: #ff5722;
  border-style: solid;
  border-bottom-width: 10px;
  border-color: #00467a;
  border-radius: 5px 5px 0 0;
  opacity: 1;
}

/* TABS */
#periodContent {
  margin-top: 20px;
}

#periodContent .title {
  background-color: #ff5722;
  padding: 5px 20px;
  margin-top: -1px;
  margin-bottom: 10px;
  border-radius: 0 0 10px 10px;
  display: inline-flex;
  color: #fff;
  font-size: 25px;
}

#periodContent .price {
  color: #ff6600;
  font-size: 50px;
}

#periodContent .rate {
  display: block;
  color: #999999;
  font-weight: 400;
  font-size: 20px;
}

#periodContent .btn-sus {
  font-size: 18px;
  color: #ff5722;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #f99131;
  font-weight: bold;
  border-radius: 50px;
}

#periodContent .btn-sus:hover {
  background-color: #ff5722;
  color: #fff;
}

/* DATAFAST */
.wpwl-form {
  margin: 0px;
  max-width: none;
  font-size: 15px;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
.wpwl-form-card {
  border-radius: 0px;
  background-image: none;
  background-color: transparent;
  padding: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wpwl-form-card .wpwl-control {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #fd7e14;
}
.wpwl-form-card .wpwl-label {
  display: none !important;
}
.wpwl-form-card .wpwl-label-brand {
  display: block !important;
}
.wpwl-form-card .wpwl-button-pay,
.wpwl-form-registrations .wpwl-button-pay {
  border-radius: 0px;
  border: 1px solid #fd7e14;
  background-color: #fd7e14;
}
.wpwl-form-card .wpwl-control:focus {
  border-color: #fd7e14 !important;
  outline: 0;
}
.wpwl-form-registrations {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 20px;
}
.wpwl-group-registration.wpwl-selected {
  border-color: #fbd8b4;
  background-color: #fcf5ee;
}
.wpwl-group-registration .wpwl-wrapper-registration-cvv .wpwl-control {
  border-radius: 0px;
  border: 0px;
}
.wpwl-group-registration .wpwl-registration {
  width: 100%;
}
.verifieddatafast {
  display: block;
  margin: 0 auto;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .verifieddatafast {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .verifieddatafast {
    width: 85%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .verifieddatafast {
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .verifieddatafast {
    width: 75%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .verifieddatafast {
    width: 50%;
  }
}

#metodosEnvio img {
  height: 70px;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4
  .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
  background-color: #343a40;
}

#panelTarifas {
  position: relative;
}

#panelResumenOrden {
  max-height: 500px;
}

#cartSideBar {
  width: 500px;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  #cartSideBar {
    width: 700px;
  }
}

@media (max-width: 425px) {
  #cartSideBar {
    width: 350px;
  }
}

@media (max-width: 320px) {
  #cartSideBar {
    width: 250px;
  }
}

.item p {
  line-height: 1rem;
}

.p-bg-orange {
  background-color: #ee641a;
  color: #fff;
}

.itemCatalogo {
  cursor: pointer;
}

.itemCatalogo p {
  font-size: 1rem;
  width: 100%;
}

.expand {
  width: 100% !important;
  position: relative !important;
}

#cartSideBar.expand {
  overflow-y: visible;
}

#cartSideBar.expand .item {
  padding: 20px !important;
}

.precio {
  font-size: 1rem;
}

.control-sidebar-slide-open #cartSideBar.expand.control-sidebar {
  right: auto;
}
.expand#cartSideBar {
  width: 100% !important;
  overflow-y: scroll;
}

.btn-black {
  background-color: #37322f;
  border-color: #37322f;
  color: #fff;
}

a.btn-black:hover {
  color: #b3b3b3;
}
