

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    background-image: url('../../dist/img/printo/fondo2.jpg');
    background-size: 140%;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 60%; 
    }

    .sidenav{
        width: 60%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 20%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}


.login-form input
{
    border-width: 0px 0px 1px 0px;
    border-color: #727272;
    color: #727272;
    margin-bottom: 20px;
}

.login-form .login-logo, .login-form .register-logo{
    margin-bottom: 3.0rem;
}

.btn-printo-orange{
    color: #ffffff;
    background-color: #EE641A;
    border-color: #EE641A;
    box-shadow: none;
}

.btn-printo-orange:hover{
    color: #ffffff;
    background-color: #f07432;
    border-color: #f07432;
    box-shadow: none;
}

.login-form .btn-submit{
    font-size: 1.5rem;
}

.legendlogin{
    font-size: 0.80rem;
}

.legendlogin a{
    color: #eb641a;
    cursor: pointer;
}

.forgotpwd a{
    color: #EE641A;
}

.image-logo {
    width: 70%;
}
.image-logo-legal {
    height: 50px;
}

/* TOGGLE PWD */
.toggle-pwd input{
    border-right: none;
}

.toggle-pwd .input-group-text{
    background: none;
    cursor: pointer;
    border: 0px;
    border-bottom: 1px solid #727272;
}