{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=1.0')}}">
{% endblock %}


{% block customJs %}
	<script src="{{asset('custom/js/suscripcion.js?v=1.2')}}"></script>
	<script>
		let urlCheckout = "{{path('suscripcion_checkout')}}";
	</script>
{% endblock %}

{% block titlePage %}
SUSCRIPCIONES
{% endblock %}

{% block titleWindow %}
{# <div class="card-header">
		<h3 class="card-title">Detalle de la Orden</h3>
	</div> #}
{% endblock %}

{% block bodyWindow %}
<div class="card-body">
	
	

	<div class="row">
		<div class="col-lg-6 mx-auto">


			<div class="form-horizontal">

				<div class="card-footer d-none" id="cancelPlan">
					<a href="javascript:void(0)" id="changePlan" class="btn btn-orange">Cambiar Plan</a>
				</div>

				<div class="card-body">
					<div class="form-group row" id="selectPlan">
						<label for="plan" class="col-sm-4 col-form-label">Plan Seleccionado</label>
						<div class="col-sm-8">
							<select class="form-control" id="plan" placeholder="Seleccionar" name="plan">
                                {% for key, susc in suscripciones %}
                                    <option value="{{key}}"
                                        {% if susc.printoPlanCode == printoPlanCode %}selected{% endif %}
										{% if myPlan is not null and susc.priority <= myPlan.priority%}disabled{% endif %}
                                    >{{susc.name}}</option>    
                                {% endfor %}
                                
                            </select>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div id="checkoutPanel">
								
							</div>
						</div>
					</div>

				</div>
				<!-- /.card-body -->
				<div class="card-footer" id="checkoutAction">
					<a href="javascript:void(0)" id="checkout" class="btn btn-orange">Siguiente</a>
				</div>
				<!-- /.card-footer -->
			</div>


		</div>
	</div>
</div>


<script>
	$ (document).ready (function (){

    {% for flashMessage in app.session.flashbag.get('success') %}
        toastr.success ('{{ flashMessage }}')
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        toastr.error ('{{ flashMessage }}')
    {% endfor %}

    });
</script>

<!-- /.modal -->{% endblock %}{% block footerWindow %}
<div class="card-footer"></div>{% endblock %}
