{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=1.2')}}">
{% endblock %}


{% block customJs %}{% endblock %}

{% block titlePage %}Plan
{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title">Transacción Finalizada</h3>
	</div>
{% endblock %}

{% block bodyWindow %}
	<div class="card-body">
		<div class="error-page order-page">


            {% if app.session.flashbag.has('error') %}
                <h2 class="headline text-orange">
                    <i class="fas fa-times"></i>
                </h2>
                <div class="error-content">
				    <h3>
                        <b>Hubo un error al contratar el plan</b>
                    </h3>
                    <p>
                        Detalle : {% for flashMessage in app.session.flashbag.get('error') %} {{flashMessage}} {% endfor %}
                    </p>
                    <br>
                    <a href="{{path('suscripcion_index')}}" class="btn btn-success btn-orange">Suscripciones</a>
                </div>
            {% else %}
                <h2 class="headline text-success">
                    <i class="fas fa-check"></i>
                </h2>
                <div class="error-content">
				    <h3>
                        <b>Plan contratado satisfactoriamente</b>
                    </h3>
                    <p>Usted se ha subscripto satisfactoriamente al plan</p>
                    <br>
                    <a href="{{path('admin_orden')}}" class="btn btn-success btn-orange">Realizar una compra</a>
                </div>

            {% endif %}
            

		</div>
	</div>

	<div class="card-footer"></div>


	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
