{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=1.0')}}">
{% endblock %}


{% block customJs %}
	<script src="{{asset('custom/js/.js?v=1.0')}}"></script>
	<script>
		// let urlUploadFiles = "{{path('admin_add_file')}}";
	</script>
{% endblock %}

{% block titlePage %}
SUSCRIPCIONES
{% endblock %}

{% block titleWindow %}
	{# <div class="card-header">
		<h3 class="card-title">Detalle de la Orden</h3>
	</div> #}
{% endblock %}

{% block bodyWindow %}
	
    <div class="card-body">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                
                <ul class="nav nav-tabs" id="period" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="mensual-tab" data-toggle="pill" href="#mensual" role="tab" aria-controls="mensual" aria-selected="true">
                        MENSUAL
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="trimestral-tab" data-toggle="pill" href="#trimestral" role="tab" aria-controls="trimestral" aria-selected="false">
                        TRIMESTRAL
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="semestral-tab" data-toggle="pill" href="#semestral" role="tab" aria-controls="semestral" aria-selected="false">
                        SEMESTRAL
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="anual-tab" data-toggle="pill" href="#anual" role="tab" aria-controls="anual" aria-selected="false">
                        ANUAL
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="periodContent">
                    <div class="tab-pane fade show active" id="mensual" role="tabpanel" aria-labelledby="mensual-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">GRATIS</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">$0</span>
                                    <p class="rate">Para siempre</p>
                                </div>
                                <div class="text-center mb-3">
                                    <a href="{{path('suscripcion_custom')}}" class="btn btn-orange btn-sus disabled">SUSCRÍBETE</a>
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 1 dispositivo</li>
                                        <li>Lista de precios reseller basic Xerox</li>
                                        <li>Lista de precios reseller basic Mimaki.</li>
                                        <li>Soporte 8/5 Chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">PROFESIONAL</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">${{suscripciones['PRO-01'].price}}</span>
                                    <p class="rate">Facturado mensualmente</p>
                                </div>
                                <div class="text-center mb-3">
                                    {% if myPlan is null or suscripciones['PRO-01'].priority > myPlan.priority %}
                                        <a href="{{path('suscripcion_custom',{ printoPlanCode : suscripciones['PRO-01'].printoPlanCode })}}" class="btn btn-orange btn-sus">SUSCRIBETE</a>    
                                    {% else %}
                                        <a href="" class="btn btn-orange btn-sus disabled">SUSCRIBETE</a>
                                    {% endif %}

                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 2 dispositivos (puedes compartir la membresía con un amigo)</li>
                                        <li>Lista de precios reseller <b>Premium Xerox</b></li>
                                        <li>Lista de precios reseller basic Mimaki</li>
                                        <li>Soporte Premium 8/5 Chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                        <li>Kit de Bienvenida (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Pantones Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Mimaki con tu marca (única vez cuando seas suscriptor pago)</li>
                                    </ul>
                                </div>
                            </div>
                            {# <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">PROFESIONAL PLUS</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">${{suscripciones['PROPLUS-1'].price}}</span>
                                    <p class="rate">Facturado mensualmente</p>
                                </div>
                                <div class="text-center mb-3">
                                    {% if myPlan is null or suscripciones['PROPLUS-1'].priority > myPlan.priority %}
                                        <a href="{{path('suscripcion_custom',{ printoPlanCode : suscripciones['PROPLUS-1'].printoPlanCode })}}" class="btn btn-orange btn-sus">SUSCRIBETE</a>
                                    {% else %}
                                        <a href="" class="btn btn-orange btn-sus disabled">SUSCRIBETE</a>
                                    {% endif %}
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 3 dispositivos (puedes compartir la membresía con 2 amigos)</li>
                                        <li>Lista de precios reseller <b>Premium Xerox</b></li>
                                        <li>Lista de precios reseller <b>Premium Mimaki</b></li>
                                        <li>Soporte Premium 8/5 chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                        <li>Kit de Bienvenida (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Pantones Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Mimaki con tu marca (única vez cuando seas suscriptor pago)</li>
                                    </ul>
                                </div>
                            </div> #}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="trimestral" role="tabpanel" aria-labelledby="trimestral-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">GRATIS</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">$0</span>
                                    <p class="rate">Para siempre</p>
                                </div>
                                <div class="text-center mb-3">
                                    <a href="{{path('suscripcion_custom')}}" class="btn btn-orange btn-sus disabled">SUSCRÍBETE</a>
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 1 dispositivo</li>
                                        <li>Lista de precios reseller basic Xerox</li>
                                        <li>Lista de precios reseller basic Mimaki.</li>
                                        <li>Soporte 8/5 Chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">PROFESIONAL</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">${{suscripciones['PRO-03'].price}}</span>
                                    <p class="rate">Facturado trimestralmente</p>
                                </div>
                                <div class="text-center mb-3">
                                    {% if myPlan is null or suscripciones['PRO-03'].priority > myPlan.priority %}
                                        <a href="{{path('suscripcion_custom',{ printoPlanCode : suscripciones['PRO-03'].printoPlanCode })}}" class="btn btn-orange btn-sus">SUSCRIBETE</a>
                                    {% else %}
                                        <a href="" class="btn btn-orange btn-sus disabled">SUSCRIBETE</a>
                                    {% endif %}
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 2 dispositivos (puedes compartir la membresía con un amigo)</li>
                                        <li>Lista de precios reseller <b>Premium Xerox</b></li>
                                        <li>Lista de precios reseller basic Mimaki</li>
                                        <li>Soporte Premium 8/5 Chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                        <li>Kit de Bienvenida (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Pantones Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Mimaki con tu marca (única vez cuando seas suscriptor pago)</li>
                                    </ul>
                                </div>
                            </div>
                            {# <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">PROFESIONAL PLUS</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">${{suscripciones['PROPLUS-3'].price}}</span>
                                    <p class="rate">Facturado trimestralmente</p>
                                </div>
                                <div class="text-center mb-3">
                                    {% if myPlan is null or suscripciones['PROPLUS-3'].priority > myPlan.priority %}
                                        <a href="{{path('suscripcion_custom',{ printoPlanCode : suscripciones['PROPLUS-3'].printoPlanCode })}}" class="btn btn-orange btn-sus">SUSCRIBETE</a>
                                    {% else %}
                                        <a href="" class="btn btn-orange btn-sus disabled">SUSCRIBETE</a>
                                    {% endif %}
                                    
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 3 dispositivos (puedes compartir la membresía con 2 amigos)</li>
                                        <li>Lista de precios reseller <b>Premium Xerox</b></li>
                                        <li>Lista de precios reseller <b>Premium Mimaki</b></li>
                                        <li>Soporte Premium 8/5 chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                        <li>Kit de Bienvenida (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Pantones Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Mimaki con tu marca (única vez cuando seas suscriptor pago)</li>
                                    </ul>
                                </div>
                            </div> #}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="semestral" role="tabpanel" aria-labelledby="semestral-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">GRATIS</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">$0</span>
                                    <p class="rate">Para siempre</p>
                                </div>
                                <div class="text-center mb-3">
                                    <a href="{{path('suscripcion_custom')}}" class="btn btn-orange btn-sus disabled">SUSCRÍBETE</a>
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 1 dispositivo</li>
                                        <li>Lista de precios reseller basic Xerox</li>
                                        <li>Lista de precios reseller basic Mimaki.</li>
                                        <li>Soporte 8/5 Chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">PROFESIONAL</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">${{suscripciones['PRO-06'].price}}</span>
                                    <p class="rate">Facturado semestralmente</p>
                                </div>
                                <div class="text-center mb-3">
                                    {% if myPlan is null or suscripciones['PRO-06'].priority > myPlan.priority %}
                                        <a href="{{path('suscripcion_custom',{ printoPlanCode : suscripciones['PRO-06'].printoPlanCode })}}" class="btn btn-orange btn-sus">SUSCRIBETE</a>
                                    {% else %}
                                        <a href="" class="btn btn-orange btn-sus disabled">SUSCRIBETE</a>
                                    {% endif %}
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 2 dispositivos (puedes compartir la membresía con un amigo)</li>
                                        <li>Lista de precios reseller <b>Premium Xerox</b></li>
                                        <li>Lista de precios reseller basic Mimaki</li>
                                        <li>Soporte Premium 8/5 Chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                        <li>Kit de Bienvenida (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Pantones Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Mimaki con tu marca (única vez cuando seas suscriptor pago)</li>
                                    </ul>
                                </div>
                            </div>
                            {# <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">PROFESIONAL PLUS</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">${{suscripciones['PROPLUS-6'].price}}</span>
                                    <p class="rate">Facturado semestralmente</p>
                                </div>
                                <div class="text-center mb-3">
                                    {% if myPlan is null or suscripciones['PROPLUS-6'].priority > myPlan.priority %}
                                        <a href="{{path('suscripcion_custom',{ printoPlanCode : suscripciones['PROPLUS-6'].printoPlanCode })}}" class="btn btn-orange btn-sus">SUSCRIBETE</a>
                                    {% else %}
                                        <a href="" class="btn btn-orange btn-sus disabled">SUSCRIBETE</a>
                                    {% endif %}
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 3 dispositivos (puedes compartir la membresía con 2 amigos)</li>
                                        <li>Lista de precios reseller <b>Premium Xerox</b></li>
                                        <li>Lista de precios reseller <b>Premium Mimaki</b></li>
                                        <li>Soporte Premium 8/5 chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                        <li>Kit de Bienvenida (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Pantones Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Mimaki con tu marca (única vez cuando seas suscriptor pago)</li>
                                    </ul>
                                </div>
                            </div> #}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="anual" role="tabpanel" aria-labelledby="anual-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">GRATIS</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">$0</span>
                                    <p class="rate">Para siempre</p>
                                </div>
                                <div class="text-center mb-3">
                                    <a href="{{path('suscripcion_custom')}}" class="btn btn-orange btn-sus disabled">SUSCRÍBETE</a>
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 1 dispositivo</li>
                                        <li>Lista de precios reseller basic Xerox</li>
                                        <li>Lista de precios reseller basic Mimaki.</li>
                                        <li>Soporte 8/5 Chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">PROFESIONAL</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">${{suscripciones['PRO-12'].price}}</span>
                                    <p class="rate">Facturado Anualmente</p>
                                </div>
                                <div class="text-center mb-3">
                                    {% if myPlan is null or suscripciones['PRO-12'].priority > myPlan.priority %}
                                        <a href="{{path('suscripcion_custom',{ printoPlanCode : suscripciones['PRO-12'].printoPlanCode })}}" class="btn btn-orange btn-sus">SUSCRIBETE</a>
                                    {% else %}
                                        <a href="" class="btn btn-orange btn-sus disabled">SUSCRIBETE</a>
                                    {% endif %}
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 2 dispositivos (puedes compartir la membresía con un amigo)</li>
                                        <li>Lista de precios reseller <b>Premium Xerox</b></li>
                                        <li>Lista de precios reseller basic Mimaki</li>
                                        <li>Soporte Premium 8/5 Chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                        <li>Kit de Bienvenida (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Pantones Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Mimaki con tu marca (única vez cuando seas suscriptor pago)</li>
                                    </ul>
                                </div>
                            </div>
                            {# <div class="col-lg-4">
                                <div class="text-center">
                                    <span class="title">PROFESIONAL PLUS</span>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="price">${{suscripciones['PROPLUS-12'].price}}</span>
                                    <p class="rate">Facturado Anualmente</p>
                                </div>
                                <div class="text-center mb-3">
                                    {% if myPlan is null or suscripciones['PROPLUS-12'].priority > myPlan.priority %}
                                        <a href="{{path('suscripcion_custom',{ printoPlanCode : suscripciones['PROPLUS-12'].printoPlanCode })}}" class="btn btn-orange btn-sus">SUSCRIBETE</a>
                                    {% else %}
                                        <a href="" class="btn btn-orange btn-sus disabled">SUSCRIBETE</a>
                                    {% endif %}
                                </div>
                                <div>
                                    <ul>
                                        <li>Hasta 3 dispositivos (puedes compartir la membresía con 2 amigos)</li>
                                        <li>Lista de precios reseller <b>Premium Xerox</b></li>
                                        <li>Lista de precios reseller <b>Premium Mimaki</b></li>
                                        <li>Soporte Premium 8/5 chat, correo y teléfono</li>
                                        <li>Capacitación en Impresión Digital</li>
                                        <li>Acceso a plantillas Xerox y Mimaki</li>
                                        <li>Envíos automatizados en Guayaquil / Duran / Samborondón</li>
                                        <li>Seguimiento automático de pedidos</li>
                                        <li>Disponibilidad de plataforma 24/7</li>
                                        <li>Kit de Bienvenida (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Pantones Xerox con tu marca (única vez cuando seas suscriptor pago)</li>
                                        <li>Catálogo de Materiales Mimaki con tu marca (única vez cuando seas suscriptor pago)</li>
                                    </ul>
                                </div>
                            </div> #}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    

	<script>
		$(document).ready(function () {

			{% for flashMessage in app.session.flashbag.get('success') %}
				toastr.success('{{flashMessage}}')
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error') %}
				toastr.error('{{flashMessage}}')
			{% endfor %}

		});
		
	</script>

	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
