
<dl class="row">

    {% if myPlan is not null %}
    <dt class="col-sm-2">Plan Vigente</dt>
    <dd class="col-sm-10">{{myPlan.name}}</dd>
    
    <dt class="col-sm-2">Se activó</dt>
    <dd class="col-sm-2">{{prices.activated_at}}</dd>

    <dt class="col-sm-2">Expira</dt>
    <dd class="col-sm-2">{{prices.expireAt}}</dd>

    <dt class="col-sm-2">Dias Restantes</dt>
    <dd class="col-sm-2">{{prices.daysLeft}}</dd>
    {% endif %}
    

    <dt class="col-sm-2">Nuevo Plan</dt>
    <dd class="col-sm-10">{{newPlan.name}}</dd>
    
    <dt class="col-sm-2">Se activará</dt>
    <dd class="col-sm-2">{{"now"|date("Y-m-d")}}</dd>

    <dt class="col-sm-2">Expirará</dt>
    <dd class="col-sm-6">{{prices.newExpireAt}}</dd>

    <dt class="col-sm-2">Subtotal</dt>
    <dd class="col-sm-10">{{prices.initPrice|format_currency('USD', {fraction_digit: 2}, 'en_US')}}</dd>

    <dt class="col-sm-2">Descuento</dt>
    <dd class="col-sm-10">{{prices.priceCredit|format_currency('USD', {fraction_digit: 2}, 'en_US')}}</dd>

    <dt class="col-sm-2">Descuento Cupon</dt>
    <dd class="col-sm-10">{{prices.priceCupon|format_currency('USD', {fraction_digit: 2}, 'en_US')}}</dd>

    <dt class="col-sm-4"><h3>Valor Final</h3></dt>
    <dd class="col-sm-8"><h3>{{prices.finalPriceIvaC|format_currency('USD', {fraction_digit: 2}, 'en_US')}}</h3></dd>


</dl>


<form action="{{path('suscripcion_shopper_result')}}" class="paymentWidgets" data-brands="VISA MASTER AMEX DINERS DISCOVER"></form>

<script type="text/javascript">
    var wpwlOptions = {
        style: 'card',
        locale: 'es',
        onReady: function(onReady) {
            var createRegistrationHtml = '<div class="customLabel">Desea guardar de manera segura sus datos?</div><div class="customInput"><input type="checkbox" name="createRegistration" /></div>';
            $('form.wpwl-form-card').find('.wpwl-button').before(createRegistrationHtml);
            var datafast= '<br/><br/><img src='+'"https://www.datafast.com.ec/images/verified.png" class="verifieddatafast">'; 
            $('form.wpwl-form-card').find('.wpwl-button'). before(datafast); 
            $('#loadingPage').addClass('d-none')
        },
        registrations: {
            requireCvv : true,
            hideInitialPaymentFOrms: true
        },
        locale: "es",
        labels : {
            cvv: "CVV",
            cardHolder: "Nombre(Igual que en la tarjeta)"
        }
    }
</script>

<script type="text/javascript" src="{{app.request.server.get('DF_BASE_URL_API')}}/v1/paymentWidgets.js?checkoutId={{checkoutId}}"></script>
