{% set esProforma = app.session.get('esProforma') %}
<div class="row m-0">
    <div class="col-12 m-0 p-0">
        <h4 class="p-2 bg-dark text-white sticky-top">


            <a class="btn text-rigth expandCart">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a class="btn text-rigth contractCart d-none">
                <i class="fa fa-arrow-right"></i>
            </a>

            Productos Agregados :
            <span class="totalPagarPreview">{{ tarifas.totalPagar }}</span>

        </h4>

        <div id="contentItems">
            {% if itemsOrden is defined and itemsOrden is empty %}
                <div id="itemEmpty" class="m-2">
                    <h5 class="text-muted text-lg">
                        No hay productos Agregados
                    </h5>
                </div>
            {% endif %}
            {% for item in itemsOrden %}
                {% include "admin/catalogo/productos/item_producto.html.twig" %}
            {% endfor %}

            {% if not esProforma %}
                <div class="post mt-5 p-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="{{ path('admin_pago_order') }}" class="btn btn-orange disabled btnCrearOrden">Procesar Orden</a>
                            <button class="btn btn-outline-secondary" id="addNewOrden" data-toggle="modal" data-target="#modal-nuevaorden" data-backdrop="static" data-keyboard="false">
                                <i class="fa fa-plus-square"></i>
                                Nueva Orden
                            </button>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="post mt-5 p-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-orange" id="addNewOrden" data-toggle="modal" data-target="#modal-nuevaorden" data-backdrop="static" data-keyboard="false">
                                <i class="fa fa-plus-square"></i>
                                Nueva Proforma
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>
