<div class="row">
    <div class="col-lg-12">

        <div class="row">

            {% for producto in productos %}
                <div class="col-sm-3 mb-2">
                    <div class="position-relative bg-gray itemCatalogo" data-id="{{producto.id}}" data-title="{{producto.nombreProducto}}" data-toggle="modal" data-target="#modal-producto" data-backdrop="static" data-keyboard="false">
                        {% if producto.imgPath is empty %}
                            <img src="../../dist/img/photo1.png" alt="Photo 1" class="img-fluid"/>
                        {% else %}
                            <img src="{{producto.imgPath}}" alt="Photo 1" class="img-fluid"/>
                        {% endif %}
                        <div class="ribbon-wrapper ribbon-xl">
                            <div class="ribbon bg-danger text-lg">
                                NUEVO
                            </div>
                        </div>
                        <p class="badge badge-dark m-0 p-2">
                            {{ producto.nombreProducto }}
                        </p>

                    </div>
                </div>
            {% endfor %}


        </div>


    </div>
</div>
