{% if item is defined and item is not empty %}
	<input type="hidden" name="idItem" value="{{item.id}}"/>
{% else %}
	<input type="hidden" name="idItem"/>
{% endif %}

<div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">Material</label>
    <div class="col-sm-6">
        <select class="form-control select2bs4" style="width: 100%;" name="producto" required>
            {% if item is empty %}
                <option value="" selected="selected">
                    Seleccione Tipo
                </option>
            {% endif %}
            <optgroup label="Favoritos"/>
            {% if productos.productosFav is defined %}
                {% for producto in productos.productosFav %}
                    {% if item is not empty and item.idProducto == producto.idProducto %}
                        <option value="{{ producto.idProducto }}" selected="selected">
                            {{ producto.nombreProducto }}
                        </option>
                    {% else %}
                        <option value="{{ producto.idProducto }}">
                            {{ producto.nombreProducto }}
                        </option>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <optgroup label="Otros"/>
            {% if productos.productos is defined %}
                {% for producto in productos.productos %}
                    {% if item is not empty and item.idProducto == producto.idProducto %}
                        <option value="{{ producto.idProducto }}" selected="selected">
                            {{ producto.nombreProducto }}
                        </option>
                    {% else %}
                        <option value="{{ producto.idProducto }}">
                            {{ producto.nombreProducto }}
                        </option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="col-sm-3" id="favorito-swtich"></div>
</div>

<div id="flujo"></div>

{% if item is not empty %}
    <script>
        $("select[name='producto']").change();
    </script>
{% endif %}
