{% set esProforma = app.session.get('esProforma') %}
<div class="post bg-white p-2 item" id="item{{ item.id }}">
    <div class="row">

        {% if not esProforma %}

            <div class="col-sm-3 col-5 text-center itemDetail" data-classexpand="col-sm-1" data-classcontract="col-sm-3">
                {% if item is defined and item.imgPathRef is not empty %}
                    <img class="img-fluid img-bordered-sm" src="{{ item.imgPathRef }}" alt="user image"/>
                {% else %}
                    <img class="img-fluid img-bordered-sm" src="../../dist/img/No_Image_Available.jpg" alt="user image"/>
                {% endif %}

                {% if action is defined and action == 'newitem' %}
                    <div class="progress d-none" id="progressImgRef">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="label">0% Imagen</span>
                        </div>
                    </div>
                    <div class="progress" id="progressImpresion">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="label">0% Impresion</span>
                        </div>
                    </div>
                    {% if item.electrocorte == 'S' %}
                        <div class="progress" id="progressElectrocorte">
                            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="label">0% Electrocorte</span>
                            </div>
                        </div>
                    {% endif %}
                {% else %}

                    {% if item.subidaImpresion == 'N' %}
                        <div class="progress" id="progressImpresion">
                            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
                                <span class="label">99% Impresion error</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="progress" id="progressImpresion">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="label">100% Impresion</span>
                            </div>
                        </div>
                    {% endif %}


                    {% if item.electrocorte == 'S' %}
                        {% if item.subidaElectro == 'N' %}
                            <div class="progress" id="progressElectrocorte">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
                                    <span class="label">99% Electrocorte error</span>
                                </div>
                            </div>
                        {% else %}
                            <div class="progress" id="progressElectrocorte">
                                <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="label">100% Electrocorte</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}


                {% endif %}

            </div>


        {% endif %}

        <div class="col-sm-6 col-7 itemDetail" data-classexpand="col-sm-3" data-classcontract="col-sm-6">

            <h5 class="nombreproducto mb-0">{{ item.titleProducto }}</h5>

            <p class="stripHr mb-0">
                <span class="nombresubproducto">{{ item.nombreProducto }}</span><br/>
                <span class="descripcion">{{ item.descripcion|nl2br }}</span>
            </p>

            <div class="itemAccionAside">
                <a href="" class="btn btn-info btn-sm edit" data-title="{{ item.producto.producto.nombreProducto }}" data-iditem="{{ item.id }}" data-toggle="modal" data-target="#modal-producto" data-backdrop="static" data-keyboard="false">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="" class="btn btn-orange btn-sm confirmdelete" data-iditem="{{ item.id }}" data-toggle="modal" data-target="#modal-eliminacion" data-backdrop="static" data-keyboard="false">
                    <i class="fas fa-trash"></i>
                </a>
            </div>


        </div>

        <div class="col-sm-3 col-12 itemDetail" data-classexpand="col-lg-6" data-classcontract="col-sm-3">

            <div class="row">
                <div class="col-lg-12 itemDetail" data-classexpand="col-lg-3" data-classcontract="col-lg-12">
                    <p class="stripHr mb-0">
                        <b>Cantidad:</b>
                        <span class="cantidad">
                            {{ item.cantidad }}
                        </span>
                    </p>
                </div>
                <div class="col-lg-12 itemDetail" data-classexpand="col-sm-3" data-classcontract="col-lg-12">
                    <p class="stripHr mb-0">
                        <b>P. Unit:</b>
                        <span class="preciounit">
                            {{ (item.precio / item.cantidad)|format_currency('USD', {fraction_digit: 2}, 'en_US') }}</span>
                    </p>
                </div>
                <div class="col-lg-12 itemDetail" data-classexpand="col-sm-3" data-classcontract="col-lg-12">
                    <p class="stripHr mb-0">
                        <b>Total :
                        </b>
                    </p>

                    <div class="stripHr mb-0 preciosubtotal">
                        <span class="precio badge badge-info">
                            {{ item.precio|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
                        </span>
                        <p class="stripHr">
                            Base :
                            {{ item.precioBase|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
                            <br/>
                            {% if item.laminado == 'S' %}
                                Laminado :
                                {{ item.precioLaminado|format_currency('USD', {fraction_digit: 2}, 'en_US') }}<br/>
                            {% endif %}
                            {% if item.precioCorte != 0 %}
                                Corte :
                                {{ item.precioCorte|format_currency('USD', {fraction_digit: 2}, 'en_US') }}<br/>
                            {% endif %}
                            {% if item.precioOjales != 0 %}
                                Ojales :
                                {{ item.precioOjales|format_currency('USD', {fraction_digit: 2}, 'en_US') }}<br/>
                            {% endif %}
                            {% if item.precioCorteRigido != 0 %}
                                Corte Recto :
                                {{ item.precioCorteRigido|format_currency('USD', {fraction_digit: 2}, 'en_US') }}<br/>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="d-none itemDetail itemAccion" data-classexpand="col-sm-3" data-classcontract="">
                    <a href="" class="btn btn-info btn-sm edit" data-title="{{ item.producto.producto.nombreProducto }}" data-iditem="{{ item.id }}" data-toggle="modal" data-target="#modal-producto" data-backdrop="static" data-keyboard="false">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="" class="btn btn-orange btn-sm confirmdelete" data-iditem="{{ item.id }}" data-toggle="modal" data-target="#modal-eliminacion" data-backdrop="static" data-keyboard="false">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>

            </div>


        </div>
    </div>
</div>
