<div class="modal fade" id="modal-producto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="modal-form">

                <div class="modal-header">
                    <h4 class="modal-title">Producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="{{ path('admin_catalogo_add_product') }}" class="form-horizontal card" method="POST" enctype="multipart/form-data" id="formProduct">


                    <div class="overlay d-none" id="loadingproduct">
                        <i class="fas fa-3x fa-spinner fa-pulse"></i>
                    </div>


                    <div class="modal-body">

                        <div id="panelProductoModal">
                            {# <div class="overlay" id="loadingproduct">
                                <i class="fas fa-3x fa-spinner fa-pulse"></i>
                            </div> #}
                        </div>

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-orange" id="addProduct">Agregar</button>
                    </div>
                </form>


                {# Se ingresa el producto dependiendo el seleccionado #}

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.select2').select2()
        $('.select2bs4').select2({theme: 'bootstrap4'})
    });
</script>
