<div class="modal fade" id="modal-eliminacion">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirmaci&oacute;n</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form class="form-horizontal">
				<div class="modal-body">

					¿Est&aacute; seguro que desea Eliminar?
					<input type="hidden" name="idItemDelete">


				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-orange" id="confirmacionEliminacion" data-url="">Si</button>
				</div>
				<div class="overlay d-none" id="loadingConfirmacion">
					<i class="fas fa-2x fa-sync-alt fa-spin"></i>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        
    });
</script>