<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Printo.Cloud | Sistema</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link
        rel="icon" href="{{asset('dist/img/printo/favicon-01.png')}}" type="image/png" sizes="16x16">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{asset('plugins/fontawesome-6/css/all.min.css')}}">
        <link
        rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="{{asset('dist/css/adminlte.css')}}">

        <link
        rel="stylesheet" href="{{asset('plugins/toastr/toastr.min.css')}}">

        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> {% block customCss %}{% endblock %}

        <script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
        <!-- Bootstrap 4 -->
        <script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <!-- AdminLTE App -->
        <script src="{{asset('dist/js/adminlte.min.js')}}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{{asset('dist/js/demo.js')}}"></script>

        <script src="{{asset('plugins/toastr/toastr.min.js')}}"></script>


        {% block customJs %}{% endblock %}

    </head>
    <body
        class="hold-transition sidebar-mini layout-fixed" {% block custombody %} {% endblock %}>
        <!-- Site wrapper -->
        <div
            class="wrapper">
            <!-- Navbar -->
            {% include 'default/head.html.twig' %}

            <!-- Main Sidebar Container -->
            {% include 'default/menu.html.twig' %}


            <!-- Content Wrapper. Contains page content -->
            <div
                class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>
                                    {% block titlePage %}
                                        Panel de Control
                                    {% endblock %}
                                </h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section
                    class="content" id="bodyContent">

                    <!-- Default box -->
                    <div class="card">

                        <div class="overlay d-none" id="loadingPage">
                            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                        </div>

                        {% block titleWindow %}
                            Primera Impresi&oacute;n
                        {% endblock %}

                        {% block bodyWindow %}
                            Panel para la creación de Tickets
                        {% endblock %}
                        <!-- /.card-body -->
                        {% block footerWindow %}{% endblock %}
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->

                </section>
                <!-- /.content -->


                <!-- Control Sidebar -->
            {% block controlSideBar %}
                <aside
                    class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
                </aside>
            {% endblock %}




            </div>
            <!-- /.content-wrapper -->

            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Version</b>
                    3.0.5
                </div>
                <strong>Copyright &copy; 2020
                    <a href="https://www.instagram.com/4d.beast/" target="_blank">4D-BEAST</a>.</strong>
                Derechos de integraci&oacute;n.
            </footer>

            

            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->


        {% block modalBlock %}
        {% endblock %}

        <!-- jQuery -->
        <script type="text/javascript">
            var $zoho = $zoho || {};
            $zoho.salesiq = $zoho.salesiq || {
                widgetcode: "c181ad55c1f2a04fa67892264949dc3c54efc3645e029b5d776bdafb804ca0a1db8a20123176f29b924f9c0d6b4a5004",
                values: {},
                ready: function () {}
            };
            var d = document;
            s = d.createElement("script");
            s.type = "text/javascript";
            s.id = "zsiqscript";
            s.defer = true;
            s.src = "https://salesiq.zoho.com/widget";
            t = d.getElementsByTagName("script")[0];
            t.parentNode.insertBefore(s, t);
            d.write("<div id='zsiqwidget'></div>");
        </script>
    </body>
    {% block jsDataFastEngine %}{% endblock %}
</html>
