<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Printo.Cloud | Sistema</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" href="{{asset('dist/img/printo/favicon-01.png')}}" type="image/png" sizes="16x16">

		<!-- Font Awesome -->
		<link
		rel="stylesheet" href="{{asset('plugins/fontawesome-6/css/all.min.css')}}">
		<!-- Ionicons -->
		<link
		rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<!-- icheck bootstrap -->
		<link
		rel="stylesheet" href="{{asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
		<!-- Theme style -->
		<link
		rel="stylesheet" href="{{asset('dist/css/adminlte.css')}}">
		<!-- Google Font: Source Sans Pro -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

		{% block cssBlock %}
        {% endblock %}

	</head>
	<body class="">
		
        {% block bodyBlock %}
        {% endblock %}

		<!-- jQuery -->
		<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
		<!-- Bootstrap 4 -->
		<script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<!-- AdminLTE App -->
		<script src="{{asset('dist/js/adminlte.min.js')}}"></script>

		{% block customJs %}
		{% endblock %}

	</body>
</html>
