{% set page = app.request.get('_route') %}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>

        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link">
                {{ app.user.razonSocial }}
                {% if app.session.get('userSubscription') is empty %}
                    <span class="badge badge-info">
                        PLAN GRATUITO - Mejoralos precios adquiriendo uno de nuestros planes
                    </span>
                {% else %}
                    <span class="badge badge-info">
                        {{ app.session.get('userSubscription')['plan_name'] }}
                        &nbsp;-&nbsp; Vigente hasta el
                        {{ app.session.get('userSubscription')['current_term_ends_at']|replace({'-':'/'}) }}
                    </span>
                {% endif %}
            </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto ">

        {% if page in ['admin_catalogo_index'] %}
            <li class="nav-item bg-dark">
                <a href="{{ path('admin_pago_order') }}" class="nav-link text-white disabled btnCrearOrden" >
                    <i class="fas fa-shopping-cart"></i>
                    Procesar Orden
                </a>
            </li>
        {% endif %}


        {% if page in ['admin_catalogo_index','admin_proforma_index'] %}


            <li class="nav-item bg-orange">
                <a class="nav-link text-white" data-widget="control-sidebar" data-slide="true" href="#" role="button" id="btnCart">
                    <i class="fas fa-shopping-cart"></i>
                    Compras
                    <span class="totalPagarPreview"></span>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link text-white" data-slide="true" href="{{ path('admin_catalogo_index') }}">
                    <i class="fas fa-shopping-cart"></i>
                    Catálogo
                    <span class="totalPagarPreview"></span>
                </a>
            </li>
        {% endif %}
    </ul>

</nav>
