{% set page = app.request.get('_route') %}
<aside
	class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a class="brand-link navbar-orange text-center">
		<img src="{{asset('dist/img/printo/logo3.png')}}" alt="Printo Cloud Logo" class="" style="opacity: .8; width: 60%">
		<span class="brand-text font-weight">&nbsp;</span>
	</a>

	<!-- Sidebar -->
	<div
		class="sidebar">
		<!-- Sidebar user (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="{{asset('dist/img/printo/favicon-01.png')}}" class="" alt="User Image">
			</div>
			<div class="info">
				<a href="{{path('admin_catalogo_index')}}" class="d-block">Aplicativo de Ordenes</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

				{# <li class="nav-item has-treeview">
					<a href="{{path('admin_orden')}}" class="nav-link {% if page == 'admin_orden' %}active{% endif %}">
						<i class="fas fa-plus nav-icon"></i>
						<p>
							Crear Orden
						</p>
					</a>
				</li> #}

				{# <li class="nav-item has-treeview">
					<a href="{{path('admin_orders_sent')}}" class="nav-link {% if page == 'admin_orders_sent' %}active{% endif %}">
						<i class="fas fa-list nav-icon"></i>
						<p>
							Tickets en Tramite
						</p>
					</a>

				</li>#}

				
				<li class="nav-item has-treeview">
					<a href="{{path('admin_catalogo_index')}}" class="nav-link {% if page == 'admin_catalogo_index' %}active{% endif %}">
						<i class="fas fa-book nav-icon"></i>
						<p>
							Catálogo
						</p>
					</a>
				</li>

				
				<li class="nav-item has-treeview">
					<a href="{{path('admin_proforma_index')}}" class="nav-link {% if page == 'admin_proforma_index' %}active{% endif %}">
						<i class="fas fa-bookmark nav-icon"></i>
						<p>
							Proforma
						</p>
					</a>
				</li>
				
				<li class="nav-item has-treeview">
					<a href="{{path('admin_invoice_index')}}" class="nav-link {% if page == 'admin_invoice_index' %}active{% endif %}">
						<i class="fas fa-file-invoice-dollar nav-icon"></i>
						<p>
							Facturas por Pagar
						</p>
					</a>
				</li>

				<li class="nav-item has-treeview">
					<a href="{{path('suscripcion_index')}}" class="nav-link {% if page == 'suscripcion_index' %}active{% endif %}">
						<i class="fas fa-id-card nav-icon"></i>
						<p>
							Suscripciones
						</p>
					</a>
				</li>

				<li class="nav-item has-treeview">
					<a href="{{path('admin_envios_index')}}" class="nav-link {% if page == 'admin_envios_index' %}active{% endif %}">
						<i class="fa-solid fa-truck-fast nav-icon"></i>
						<p>
							Envios
						</p>
					</a>
				</li>

				<li class="nav-item has-treeview">
					<a href="{{path('admin_contactos_index')}}" class="nav-link {% if page == 'admin_direcciones_index' %}active{% endif %}">
						<i class="fas fa-address-book nav-icon"></i>
						<p>
							Contactos
						</p>
					</a>
				</li>

				
				<li class="nav-item has-treeview">
					<a href="{{path('admin_change_password')}}" class="nav-link {% if page == 'admin_change_password' %}active{% endif %}">
						<i class="fas fa-sync nav-icon"></i>
						<p>
							Cambiar Contrase&ntilde;a
						</p>
					</a>
				</li>
				<li class="nav-header"></li>
				<li class="nav-item has-treeview">
					<a href="{{path('logout')}}" class="nav-link {% if page == 'logout' %}active{% endif %}">
						<i class="nav-icon fas fa-sign-out-alt"></i>
						<p>
							Salir
						</p>
					</a>

				</li>

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
