<label for="">
	<b>Favorito</b>
    {% if favorito is null or favorito.estado == 'I' %}
        <input type="checkbox" name="favorito" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO">
    {% else %}
        <input type="checkbox" name="favorito" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO">
    {% endif %}
</label>

<script>
    $("input[data-bootstrap-switch]").each(function () {
        $(this).bootstrapSwitch();
    });
    $("input[name='favorito']").on("switchChange.bootstrapSwitch", function () {
        let url = '{{path('admin_change_favorite_product')}}';
        let data = {
            productoId : $("select[name='producto']").val()
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (response) {
            }
        });
    });
</script>