{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=1.2')}}">
{% endblock %}


{% block customJs %}{% endblock %}

{% block titlePage %}Orden {{orden.noOrden}}
{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title">Orden Creada</h3>
	</div>
{% endblock %}

{% block bodyWindow %}
	<div class="card-body">
		<div class="error-page order-page">
			<h2 class="headline text-success">
				<i class="fas fa-check"></i>
			</h2>

			<div class="error-content">
				<h3>
					<b>Orden creada satisfactoriamente</b>
				</h3>
				<p>
					<b>IMPORTANTE:</b><br>
					Dirijase a la opción "Envios" para revisar el estado de su pedido y gestionar su logistica.
					<br>
				</p>
				<ul>
					<li>Los envios son gratuitos si el monto supera los $20 y si envias todo el contenido de una orden.</li>
					<li>Los envios tienen costo si usas el servicio express</li>
					<li>Los envios tienen costo si enviar una orden de forma parcial</li>
				</ul>
				<p>
					Le avisaremos cuando todo su pedido este listo.
				</p>
				
				{# <p>
					Por favor acercarse a nuestras oficinas, para poder retirar su orden.
				</p> #}
				<p>
					Total a Pagar : {{orden.totalPagar|format_currency('USD', {fraction_digit: 2}, 'en_US')}}
				</p>

				<a href="{{path('admin_envios_index')}}" class="btn btn-success">Ir a Envíos</a>

			</div>
		</div>
	</div>

	<div class="card-footer"></div>


	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
