<div class="form-group row">
    <label class="col-sm-3 col-form-label">Producto</label>
    <div class="col-sm-6">
        <select class="form-control select2bs4" style="width: 100%;" name="producto" required>
            <option value="" selected="selected">Seleccione Tipo</option>
            <optgroup label="Favoritos"/>
            {% if productos.fvoritos is defined %}
                {% for producto in productos.fvoritos %}
                    <option value="{{producto.item_id}}">{{producto.item_name}}</option>
                {% endfor %}
            {% endif %}
            <optgroup label="Otros"/>
            {% if productos.normales is defined %}
                {% for producto in productos.normales %}
                    <option value="{{producto.item_id}}">{{producto.item_name}}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="col-sm-3" id="favorito-swtich">
        

    </div>
</div>
{% if categoria == 'XEROX' %}
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Tipo de Corte</label>
		<div class="col-sm-9">
			<select class="form-control select2bs4" style="width: 100%;" name="tipocorte" required>
				<option value="" selected="selected">Seleccione Tipo</option>
				<option value="planas">Planas</option>
				<option value="recto">Corte Recto Guillotina</option>
				<option value="electrocorte">Con Electrocorte</option>
			</select>
		</div>
	</div>
    
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Necesita Laminar ?</label>
		<div class="col-sm-3">
			<input type="checkbox" name="necesitalaminar" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO">
		</div>
		<label class="col-sm-3 col-form-label">Tipo Impresi&oacute;n ?</label>
		<div class="col-sm-3">
			<select class="form-control select2bs4" style="width: 100%;" name="impresion" required>
				<option value="" selected="selected">Seleccione Tipo</option>
				<option value="uno">Un Lado</option>
				<option value="ambos">Ambos Lados</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Cantidad Hojas</label>
		<div class="col-sm-3">
			<input type="number" class="form-control" required name="cantidad" value="1" min="1">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Archivo de Impresi&oacute;n</label>
		<div class="col-sm-9">
			<div class="input-group">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="archivoimpresion" name="archivoimpresion" required>
					<label class="custom-file-label" for="archivoimpresion">Seleccion archivo pdf</label>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row d-none" id="electofile">
		<label class="col-sm-3 col-form-label">Archivo de Electrocorte</label>
		<div class="col-sm-9">
			<div class="input-group">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="archivoelectrocorte" name="archivoelectrocorte">
					<label class="custom-file-label" for="archivoelectrocorte">Seleccion archivo AI</label>
				</div>
			</div>
		</div>
	</div>
{% elseif categoria == 'MIMAKI' %}
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Ancho en m2</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" required name="ancho">
		</div>
		<label class="col-sm-3 col-form-label">Alto en m2</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" required name="alto">
		</div>
	</div>
	{% if material == 'Viniles' %}
		
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Necesita Electrocorte ?</label>
			<div class="col-sm-3">
				<input type="checkbox" name="necesitaelectrocorte" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO">
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Necesita Laminar ?</label>
			<div class="col-sm-3">
				<input type="checkbox" name="necesitalaminar" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO">
			</div>
		</div>

	{% else %}
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Necesita Ojales ?</label>
			<div class="col-sm-3">
				<input type="checkbox" name="necesitaojales" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO">
			</div>
		</div>
	{% endif %}
{% endif %}




<script>
$(document).ready(function () {
    bsCustomFileInput.init();
	$('.select2bs4').select2({theme: 'bootstrap4'})
        $("input[data-bootstrap-switch]").each(function () {
        $(this).bootstrapSwitch();
    });
    $("select[name='tipocorte']").on("change", function(){

        if ($(this).val() == 'electrocorte') {
            $("#electofile").removeClass("d-none");
            $("input[name='archivoelectrocorte']").attr("required", true);
        }else{
            $("#electofile").addClass("d-none");
            $("input[name='archivoelectrocorte']").removeAttr("required");
        }        
    });

	$("select[name='producto']").on("change", () => {
		let url = '{{path('admin_change_product')}}';
		let data = {
			productoId : $("select[name='producto']").val()
		};
		$.ajax({
          type: "POST",
          url: url,
          data: data,
          success: function (response) {
			  $("#favorito-swtich").html(response.favoriteHtml);
          }
      	});
	});
});
    
</script>
