{# jobedon ver si se elimina #}
{# <input type="hidden" name="subcategoria" value="{{producto.detalle.category_name}}"> #}
<input type="hidden" name="productoname" value="{{producto.nombreProducto}}">
<input type="hidden" name="errorSubida" value="{{item is not empty and not item.subidaImpresion and not item.subidaElectro}}">
{% if producto.maquina == 'XEROX' %}
	{% set config = features.XEROX.caracteristicas %}
	<div class="form-group row">
		<label class="col-sm-3 col-form-label text-right">Tipo de Corte</label>
		<div class="col-sm-9">
			<select class="form-control select2bs4" style="width: 100%;" name="tipocorte" required>
				<option value="" selected="selected">Seleccione Tipo</option>
				<option value="PLANAS">No lleva corte</option>
				<option value="RECTO">Corte Recto Guillotina</option>
				<option value="ELECTROCORTE">Con Electrocorte</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label text-right">¿Necesita Laminar?</label>
		<div class="col-sm-3">
			<input 
				type="checkbox" 
				name="necesitalaminar" 
				data-bootstrap-switch 
				data-off-color="danger" 
				data-on-color="success" 
				data-on-text="SI" 
				data-off-text="NO">
		</div>
		<label class="col-sm-3 col-form-label laminadosection d-none text-right">¿Tipo Laminado ?</label>
		<div class="col-sm-3 laminadosection d-none">
			<select class="form-control select2bs4" style="width: 100%;" name="laminado">
				<option value="" selected="selected">Seleccione Tipo</option>
				<option value="BRILLO">Brillo</option>
				<option value="MATE">Mate</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label text-right">Cantidad Hojas</label>
		<div class="col-sm-3">
			<input type="number" class="form-control" required name="cantidad" value="1" min="1">
		</div>
		<label class="col-sm-3 col-form-label text-right">¿Tipo Impresi&oacute;n?</label>
		<div class="col-sm-3">
			<select class="form-control select2bs4" style="width: 100%;" name="impresion" required>
				{% if ((config.tipo_impresion is defined and config.tipo_impresion == 'TIRO')
					or producto.categoriaProducto.categoria in ['Adhesivos']) %}
					<option value="TIRO" selected>Un Lado</option>
				{% else %}
					<option value="" selected="selected">Seleccione Tipo</option>
					<option value="TIRO">Un Lado</option>
					<option value="T/R">Ambos Lados</option>
				{% endif %}
			</select>
		</div>
	</div>
{% elseif producto.maquina == 'MIMAKI' %}
	{% set config = features.MIMAKI.caracteristicas %}
	<div class="form-group row">
		<label class="col-sm-3 col-form-label text-right">Ancho</label>
		<div class="col-sm-3 input-group">
			<select class="form-control select2bs4" style="width: 100%;" name="ancho" required>
				{% for ancho in config.anchos_disponibles|split(',') %}
					<option value="{{ancho/100}}">{{ancho/100}}</option>
				{% endfor %}
			</select>
			<div class="input-group-prepend">
				<span class="input-group-text">metros</span>
			</div>
		</div>
		<label class="col-sm-3 col-form-label text-right">Alto</label>
		<div class="input-group col-sm-3">
			{% if config.altos_disponibles != "Todos" %}
				<input type="number" class="form-control" required name="alto" min="0" max="{{(config.altos_disponibles + 0)/100}}" step="0.01">
			{% else %}
				<input type="number" class="form-control" required name="alto" min="0" step="0.01">
			{% endif %}
			<div class="input-group-prepend">
				<span class="input-group-text">metros</span>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label text-right">Cantidad</label>
		<div class="col-sm-3">
			<input type="number" class="form-control" required name="cantidad" min="0" value="1">
		</div>
		{% if features.MIMAKI.corteRecto %}
			<label class="col-sm-3 col-form-label text-right">¿Corte Recto?</label>
			<div class="col-sm-3">
				<input 
					type="checkbox" 
					name="necesitacorterecto" 
					data-bootstrap-switch 
					data-off-color="danger" 
					data-on-color="success" 
					data-on-text="SI" 
					data-off-text="NO" 
				>
			</div>
		{% endif %}
	</div>
	

	{% if features.MIMAKI.electrocorte %}
		<hr>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label text-right">¿Necesita Electrocorte ?</label>
			<div class="col-sm-3">
				<input type="checkbox" name="necesitaelectrocorte" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO">
			</div>
		</div>
	{% endif %}
	{% if features.MIMAKI.laminar %}
		<hr>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label text-right">¿Necesita Laminar?</label>
			<div class="col-sm-3">
				<input 
					type="checkbox" 
					name="necesitalaminar" 
					data-bootstrap-switch 
					data-off-color="danger" 
					data-on-color="success" 
					data-on-text="SI" 
					data-off-text="NO" 
				>
			</div>
			<label class="col-sm-3 col-form-label laminadosection d-none text-right">¿Tipo Laminado?</label>
			<div class="col-sm-3 laminadosection d-none">
				<select class="form-control select2bs4" style="width: 100%;" name="laminado">
					<option value="" selected="selected">Seleccione Tipo</option>
					<option value="BRILLO">Brillo</option>
					<option value="MATE">Mate</option>
					<option value="FLOOR GRAPHIC">Floor Graphic</option>
				</select>
			</div>
		</div>

	{% endif %}
	{% if features.MIMAKI.ojales %}
		<hr>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label text-right">¿Necesita Ojales ?</label>
			<div class="col-sm-3">
				<input type="checkbox" name="necesitaojales" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="SI" data-off-text="NO">
			</div>
			<div class="col-sm-6 d-none ojalessection">
				<div class="row">
					<label class="col-sm-6 col-form-label text-right ">Cantidad Ojales</label>
					<div class="col-sm-6">
						<input type="number" class="form-control" id="cantojales" name="cantojales" min="0">
					</div>
					{# <label class="col-sm-4 col-form-label text-right">Especificaci&oacute;n Ojales</label>
					<div class="col-sm-8">
						<textarea name="especifojales" id="especifojales" rows="3" class="form-control" max="150">
							Sin especificaci&oacute;n
						</textarea>
						<small class="form-text text-muted">
							Máximo 150 caracteres
						</small>
					</div> #}
				</div>
			</div>
			
		</div>
	{% endif %}

{% endif %}
<hr>
<div class="form-group row">
	<label class="col-sm-3 col-form-label text-right">Observaci&oacute;n</label>
	<div class="col-sm-9">
		<textarea name="observacion" id="observacion" cols="60" rows="4" class="form-control" max="300" required></textarea>
		<small class="form-text text-muted">
			Máximo 150 caracteres
		</small>
	</div>
</div>


{% if item is not empty %}
	<div class="form-group row d-none" id="conservarfiles">
		<label class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<div class="custom-control custom-checkbox">
				<div class="">
					<input class="custom-control-input" type="checkbox" checked name="conservar" id="conservar">
					<label class="custom-control-label" for="conservar">Conservar Archivos</label>
				</div>
			</div>
		</div>
	</div>
	{% if item.subidaImpresion or item.subidaElectro %}
		<div class="alert alert-info">
			<h5><i class="icon fas fa-ban"></i> Alerta!</h5>
			Si desea reemplazar sus archivos, deseleccionar esta opci&oacute;n
		</div>
	{% endif %}
{% endif %}

<div id="groupfile">
	<div class="form-group row" id="imprefile">
		<label class="col-sm-3 col-form-label text-right">Archivo de Impresi&oacute;n</label>
		<div class="col-sm-9">
			<div class="input-group">
				<div class="custom-file">
					<input type="file" data-extallowed="{{extAllowImpresion}}" class="custom-file-input fileProduct" id="archivoimpresion" name="archivoimpresion" required>
					<label class="custom-file-label" for="archivoimpresion">Seleccione archivo {{extAllowImpresion}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row d-none" id="electofile">
		<label class="col-sm-3 col-form-label text-right">Archivo de Electrocorte</label>
		<div class="col-sm-9">
			<div class="input-group">
				<div class="custom-file">
					<input type="file" data-extallowed="{{extAllowElectroco}}" class="custom-file-input fileProduct" id="archivoelectrocorte" name="archivoelectrocorte">
					<label class="custom-file-label" for="archivoelectrocorte">Seleccione archivo {{extAllowElectroco}}</label>
				</div>
			</div>
		</div>
	</div>
</div>

{% if item is not empty and not item.subidaImpresion and not item.subidaElectro %}
	<div class="alert alert-danger">
		<h5><i class="icon fas fa-ban"></i> Alerta!</h5>
		Algunos archivos no se pudieron subir, por favor, corregir el inconveniente.
	</div>
{% endif %}

<script>
	$(document).ready(function () {
		bsCustomFileInput.init();
		$('.select2bs4').select2({
			theme: 'bootstrap4'
		})
		$("input[data-bootstrap-switch]").each(function () {
			$(this).bootstrapSwitch();
		});

		function conservar()
		{
			$("#groupfile").addClass("d-none");
			$("input[name='archivoimpresion']").removeAttr("required");
			$("input[name='archivoelectrocorte']").removeAttr("required");
		}

		function noConservar()
		{
			$("#groupfile").removeClass("d-none");
			$("input[name='archivoimpresion']").attr("required", true);
			if ($("select[name='tipocorte']").val () == 'ELECTROCORTE') {
				$("input[name='archivoelectrocorte']").attr("required", true);
			}
		}

		$("select[name='tipocorte']").on("change", function () {
			if ($(this).val () == 'ELECTROCORTE') {
				$("input[name='archivoelectrocorte']").val("");
				$("#electofile").removeClass("d-none");
				$("input[name='archivoelectrocorte']").attr("required", true);

				// Si tengo recto o sin corte y cambio electrocorte
				{% if item is defined and item is not empty 
				      and not item.electrocorte %}
					$("input[name='conservar']").removeAttr("checked");
					$("input[name='conservar']").attr("disabled", true);
					// Se copia de conservar NO
					noConservar();
				{% endif %}

				// Si tengo electrocorte y cambio a electrocorte
				{% if item is defined and item is not empty 
				      and item.electrocorte %}
					$("input[name='conservar']").attr("checked", true);
					$("input[name='conservar']").removeAttr("disabled");
					// Se copia de conservar SI
					conservar();
				{% endif %}

				
			} else {
				$("#electofile").addClass("d-none");
				$("input[name='archivoelectrocorte']").removeAttr("required");
				
				// Si tengo recto o sin corte y cambio entre ellos
				{% if item is defined and item is not empty 
				      and not item.electrocorte %}
					$("input[name='conservar']").attr("checked", true);
					$("input[name='conservar']").removeAttr("disabled");
					// Se copia de conservar SI
					conservar();
				{% endif %}

				// Si tengo electrocorte y cambio a recto o sin corte
				{% if item is defined and item is not empty 
				      and item.electrocorte %}
					$("input[name='conservar']").removeAttr("checked");
					$("input[name='conservar']").attr("disabled", true);
					// Se copia de conservar NO
					noConservar()
				{% endif %}
			}
		});
		$("input[name='necesitalaminar']").on("switchChange.bootstrapSwitch", function () {
			if ($(this).is (':checked')) {
				$("select[name='laminado']").val("").change();
				$("select[name='laminado']").attr("required", true);
				$(".laminadosection").removeClass("d-none");
			} else {
				$(".laminadosection").addClass("d-none");
				$("select[name='laminado']").removeAttr("required");
			}
		});

		$("input[name='necesitaelectrocorte']").on("switchChange.bootstrapSwitch", function () {
			if ($(this).is (':checked')) {
				$("#electofile").removeClass("d-none");
				$("input[name='archivoelectrocorte']").attr("required", true);
			} else {
				$("#electofile").addClass("d-none");
				$("input[name='archivoelectrocorte']").removeAttr("required");
			}
		});

		$("input[name='necesitaojales']").on("switchChange.bootstrapSwitch", function () {
			if ($(this).is (':checked')) {
				$(".ojalessection").removeClass("d-none");
				$("input[name='cantojales']").attr("required", true);
				$("input[name='cantojales']").val("");
				//$("textarea[name='especifojales']").val("Sin especificación");
			} else {
				$(".ojalessection").addClass("d-none");
				$("input[name='cantojales']").removeAttr("required");
			}
		});

		$("input.fileProduct").on("change", function (){
			bsCustomFileInput.init();
			let filename = $(this).val().split('\\').pop();
			let extension = filename.split('.').pop().toUpperCase();
			let extAllowed = $(this).data('extallowed');
			let messageFile = "Seleccione archivo " + extAllowed;

			if (!extAllowed.includes(extension)) {
				toastr.error('Extension no permitida, solo ' + extAllowed);
				$(this).val('');
				$(this).next('label').html(messageFile);
				return false;
			}
		});
		{% if item is not empty %}
		$("select[name='tipocorte']").val("{{item.tipocorte}}").change();
		$("input[name='cantidad']").val({{item.cantidad}});
		$("select[name='impresion']").val("{{item.tipoimpresion}}").change();
		
		$("input[name='alto']").val({{item.alto}});
		$("input[name='necesitalaminar']").bootstrapSwitch('state',{{(item.laminado) ? 'true' : 'false'}}).change();
		$("input[name='necesitacorterecto']").bootstrapSwitch('state',{{(item.corteRecto) ? 'true' : 'false'}}).change();
		$("select[name='laminado']").val("{{item.tipolaminado}}").change();
		$("input[name='necesitaojales']").bootstrapSwitch('state',{{(item.ojales) ? 'true' : 'false'}}).change();
		$("input[name='necesitaelectrocorte']").bootstrapSwitch('state',{{(item.electrocorte) ? 'true' : 'false'}}).change();
		$("input[name='cantojales']").val({{item.cantidadojales}});
		//$("textarea[name='especifojales']").val("{{item.especifiojales|replace({"\n":"\\n", "\r":""})|raw}}");
    	$('#loadingproduct').addClass('d-none')
		$("textarea[name='observacion']").val("{{item.observacion|replace({"\n":"\\n", "\r":""})|raw}}");

		{% if item.categoriaName == 'MIMAKI' %}
			$("select[name='ancho']").val("{{item.ancho}}").change();
		{% else %}
			$("input[name='ancho']").val({{item.ancho}});
		{% endif %}

		$("select[name='impresion']").val("{{item.tipoimpresion}}").change();

			{% if item.subidaImpresion or item.subidaElectro %}
				$("#conservarfiles").removeClass("d-none");
				$("#groupfile").addClass("d-none");
				$("input[name='archivoimpresion']").removeAttr("required");
				$("input[name='archivoelectrocorte']").removeAttr("required");
			{% endif %}

			$("input[name='conservar']").on("change", function(){
				if ($(this).is(':checked')) {
					conservar();
				} else {
					noConservar();
				}
				
			});

		{% endif %}

	});
</script>
