{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/select2/css/select2.min.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}">
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=3.0')}}">
{% endblock %}


{% block customJs %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
	<script src="{{asset('plugins/select2/js/select2.full.min.js')}}"></script>
	<script src="{{asset('plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}"></script>
	<script src="{{asset('plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
	<script src="{{asset('custom/js/orden.js?v=7.0')}}"></script>
	<script>
		let urlUploadFiles = "{{path('admin_add_file')}}";
		let urlEditItem = "{{path('admin_edit_product')}}";
		let urlPrepareUpload = "{{path('admin_prepare_upload')}}";
		let urlUpdateFile = "{{path('admin_update_file')}}";
	</script>
{% endblock %}

{% block titlePage %}
{# <button class="btn btn-outline-secondary"  id="addNewOrden" data-toggle="modal" data-target="#modal-nuevaorden" data-backdrop="static" data-keyboard="false">
	<i class="fa fa-plus-square"></i> 
	Nueva Orden
</button> #}

{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title">Detalle de la Orden</h3>
		<div class="card-tools">
			<a href="{{path('admin_pago_order')}}" class="btn btn-orange disabled btnCrearOrden">Procesar Orden</a>
			<button class="btn btn-secondary" id="addNewProduct" data-toggle="modal" data-target="#modal-producto" data-backdrop="static" data-keyboard="false">
				<i class="fas fa-plus"></i>
				Agregar
			</button>
		</div>
	</div>
{% endblock %}

{% block bodyWindow %}
	<div class="card-body table-responsive p-0" id="productDetails">
		{% include 'admin/orden/detalle_productos.html.twig' %}
	</div>
	<div class="overlay d-none" id="loadingDetails">
		<i class="fas fa-2x fa-sync-alt fa-spin"></i>
	</div>

	<div class="card-footer">
		<a href="{{path('admin_pago_order')}}" class="btn btn-orange disabled btnCrearOrden">Procesar Orden</a>
		<button class="btn btn-outline-secondary"  id="addNewOrden" data-toggle="modal" data-target="#modal-nuevaorden" data-backdrop="static" data-keyboard="false">
			<i class="fa fa-plus-square"></i> 
			Nueva Orden
		</button>
	</div>

	{% include 'admin/orden/modal_producto.html.twig' %}

	{% include 'admin/orden/modal_eliminacion.html.twig' %}

	{% include 'admin/orden/modal_nueva_orden.html.twig' %}

	{#% include 'admin/orden/modal_new.html.twig' %#}

	<script>
		$(document).ready(function () {

			{% for flashMessage in app.session.flashbag.get('success') %}
				toastr.success('{{flashMessage}}')
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error') %}
				toastr.error('{{flashMessage}}')
			{% endfor %}

			$('#productDetails').on('click', '.confirmdelete', function() {
				let url = $(this).attr('data-url');
				$('#confirmacionEliminacion').attr('data-url', url);
			});
		});
		
	</script>

	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
