<tr
	id="item{{item.id}}">
	{# <td>{{loop.index}}</td> #}
	<td class="text-center">
		{% if action is defined and action == 'newitem' %}
			<div class="progress" id="progressImpresion">
				<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
					<span class="label">0% Impresion</span>
				</div>
			</div>
			{% if item.electrocorte == 'S' %}
				<div class="progress" id="progressElectrocorte">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
						<span class="label">0% Electrocorte</span>
					</div>
				</div>
			{% endif %}
		{% else %}

			{% if item.subidaImpresion == 'N' %}
				<div class="progress" id="progressImpresion">
					<div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
						<span class="label">99% Impresion error</span>
					</div>
				</div>
			{% else %}
				<div class="progress" id="progressImpresion">
					<div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="label">100% Impresion</span>
					</div>
				</div>
			{% endif %}


			{% if item.electrocorte == 'S' %}
				{% if item.subidaElectro == 'N' %}
					<div class="progress" id="progressElectrocorte">
						<div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
							<span class="label">99% Electrocorte error</span>
						</div>
					</div>
				{% else %}
					<div class="progress" id="progressElectrocorte">
						<div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="label">100% Electrocorte</span>
						</div>
					</div>
				{% endif %}
			{% endif %}


		{% endif %}

	</td>
	<td>
		<span class="nombreproducto">{{item.producto.producto.nombreProducto}}</span><br>
		<p class="stripHr">
			{{item.nombreProducto}}<br>
			<span class="descripcion">{{item.descripcion|nl2br}}</span>
		</p>
	</td>
	<td class="text-center">
		{# <span class="subcategoria">
			{{item.subcategoriaProducto.subcategoria}}
		</span><br> #}
		<span >
			{{item.producto.maquina}}
		</span>
		<p class=" stripHr" class="categoria">
			{{item.producto.categoriaProducto.categoria}}
		</p>
	</td>
	<td class="text-center">
		<span class="cantidad">
			{#% if item.subcategoriaProducto.categoriaProducto.tipoProducto.categoria == 'XEROX' %#}
				{{item.cantidad}}
			{#% elseif item.subcategoriaProducto.categoriaProducto.tipoProducto.categoria == 'MIMAKI' %}
				{{item.cantidad}}
				m2
			{% endif %#}
		</span>
	</td>
	<td class="text-center">
		<span class="preciounit">
			{{(item.precio / item.cantidad)|format_currency('USD', {fraction_digit: 2}, 'en_US')}}</span>
	</td>
	<td class="text-center preciosubtotal">
		<span>
			{{item.precio|format_currency('USD', {fraction_digit: 2}, 'en_US')}}
		</span>
		<p class=" stripHr">
			Base :
				{{item.precioBase|format_currency('USD', {fraction_digit: 2}, 'en_US')}}
				{#% if item.precioBaseReal != 0 %}
					<strike class="text-danger">{{item.precioBaseReal|format_currency('USD', {fraction_digit: 2}, 'en_US')}}</strike>
				{% endif %#}
				<br>
			{% if item.laminado == 'S' %}
				Laminado :
					{{item.precioLaminado|format_currency('USD', {fraction_digit: 2}, 'en_US')}}<br>
			{% endif %}
			{% if item.precioCorte != 0 %}
				Corte :
					{{item.precioCorte|format_currency('USD', {fraction_digit: 2}, 'en_US')}}<br>
			{% endif %}
			{% if item.precioOjales != 0 %}
				Ojales :
					{{item.precioOjales|format_currency('USD', {fraction_digit: 2}, 'en_US')}}<br>
			{% endif %}
			{% if item.precioCorteRigido != 0 %}
				Corte Recto :
					{{item.precioCorteRigido|format_currency('USD', {fraction_digit: 2}, 'en_US')}}<br>
			{% endif %}
		</p>
	</td>
	<td class="text-center">
		<a href="" data-url="{{path('admin_eliminar_item',{idItem:item.id})}}" class="btn btn-info btn-sm edit" data-iditem="{{item.id}}" data-toggle="modal" data-target="#modal-producto" data-backdrop="static" data-keyboard="false">
			<i class="fas fa-edit"></i>
		</a>
		<a href="" data-url="{{path('admin_eliminar_item',{idItem:item.id})}}" class="btn btn-orange btn-sm confirmdelete" data-toggle="modal" data-target="#modal-eliminacion" data-backdrop="static" data-keyboard="false">
			<i class="fas fa-trash"></i>
		</a>
	</td>
</tr>
