<div class="modal fade" id="modal-new">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div id="modal-form">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <img src="{{asset('dist/img/printo/COMUNICADO_printo.jpg')}}" alt="" class="img-fluid">
                    </div>
                </div>



			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script>
	$(function () {
		$('#modal-new').modal('show');
	});
</script>
