<div class="modal-header">
	<h4 class="modal-title">Producto</h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form action="{{path('admin_add_product')}}" class="form-horizontal" method="POST" enctype="multipart/form-data" id="formProduct">

	<div class="overlay d-none" id="loadingproduct">
		<i class="fas fa-3x fa-spinner fa-pulse"></i>
	</div>

	<div class="modal-body">
		<input type="hidden" name="idItem">
		<div class="form-group row">
			<label class="col-sm-3 col-form-label text-right">Tecnolog&iacute;a de Impresi&oacute;n</label>
			<div class="col-sm-9">
				<select class="form-control select2bs4" style="width: 100%;" name="categoria" data-target="changeCategory" data-url="{{path('admin_change_category')}}" data-method="POST" required>
					<option value="" selected="selected">Seleccione Tipo</option>
					{% for categoria in categorias %}
						<option value="{{categoria.nombreProducto}}">
								{{categoria.nombreProducto}}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div id="changeCategory"></div>


	</div>
	<div class="modal-footer justify-content-between">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		<button type="submit" class="btn btn-orange" id="addProduct">Agregar</button>
	</div>
</form>
