<div class="modal fade" id="modal-confirmacion">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirmaci&oacute;n</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form class="form-horizontal" action="{{path('admin_pago_order')}}" method="POST">
				<div class="modal-body">
					{# <input type="hidden" name="requiereenvioSend" value="no">
					<input type="hidden" name="direccionSend" value="">
					<input type="hidden" name="esAutomaticoSend" value="{{ (tarifas.esAutomatico)? 'si' : 'no' }}"> #}
					<table class="table table-borderless table-sm">
						<caption>Por favor confirme, su elecci&oacute;n</caption>
						<tbody>
							<tr>
								<td>Envio</td>
								<td>
									<span class="envio">Retiro en Oficina</span>
								</td>
							</tr>
							<tr>
								<td>Direcci&oacute;n</td>
								<td>
									<span class="direccionLabel">
										-
									</span>
								</td>
							</tr>
							<tr>
								<td>Total de Productos</td>
								<td>
									<span class="valorSubtotalItems">
										-
									</span>
								</td>
							</tr>
							<tr>
								<td>Costo de Env&iacute;o</td>
								<td>
									<span class="valorTotalEnvio">
										-
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<hr>
								</td>
							</tr>
							{# <tr>
								<td>Subtotal</td>
								<td>
									<span class="valorSubtotal">{{tarifas.valorSubtotal}}</span>
								</td>
							</tr>
							<tr>
								<td>IVA 12%</td>
								<td>
									<span class="valorIva">{{tarifas.valorIva}}</span>
								</td>
							</tr>
							<tr>
								<td>Total a Pagar</td>
								<td>
									<span class="totalPagar">{{tarifas.totalPagar}}</span>
								</td>
							</tr> #}
							<tr>
								<td>Pago en Efectivo al Motorizado</td>
								<td>
									<span class="entregamotorizado">
										NO
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<hr>
								</td>
							</tr>
						</tbody>
					</table>
					<small id="passwordHelpBlock" class="form-text text-muted"></small>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Corregir</button>
					<button type="submit" class="btn btn-orange" id="confirmarOrden">Ir a Pago</button>
				</div>
				<div class="overlay d-none" id="loadingConfirmacion">
					<i class="fas fa-2x fa-sync-alt fa-spin"></i>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        // $("#confirmarOrden").on("click", function() {
		// 	$("#loadingConfirmacion").removeClass("d-none");
        //     let requiereEnvio  = $("input[name='requiereenvio']:checked").val();
        //     let direccionId    = $("select[name='direccion'] option:selected").val();
        //     // let pagoMotorizado = $("input[name='pagomotirizado']:checked").val();
        //     // if (pagoMotorizado === undefined) {
        //     //     pagoMotorizado = "no";
        //     // }
        //     let data = {
        //         requiereEnvio : (requiereEnvio == "si") ? true : false,
        //         direccionId: direccionId,
        //         //pagoMotorizado: (pagoMotorizado == "si") ? true : false
        //     }
		// 	let url = "";
		// 	$.ajax({
		// 		type: "POST",
		// 		url: url,
		// 		data: data,
		// 		success: function (response) {
					
		// 			if (response.error) {
		// 				$("#loadingConfirmacion").addClass("d-none");
		// 				toastr.error(response.mensaje)
		// 			}else{
		// 				toastr.success(response.mensaje)
		// 				setTimeout(function(){ 
		// 					location.href = response.urlRedirect;
		// 				}, 3000);

		// 			}
		// 		},
		// 	});
        // });
    });
</script>