{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('plugins/icheck-bootstrap/icheck-bootstrap.css')}}">
	<link rel="stylesheet" href="{{asset('custom/css/custom.css')}}">
{% endblock %}

{% block customJs %}
	<script src="{{asset('plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('custom/js/pagoorden.js?v=2.0')}}"></script>
	<script>
		let urlUploadComprobante = "{{path('admin_upload_comprobante')}}";
	</script>
{% endblock %}

{% block jsDataFastEngine %}
	<script type="text/javascript" src="https://www.datafast.com.ec/js/dfAdditionalValidations1.js"></script>
{% endblock %}

{% block titlePage %}M&eacute;todo de Pago
{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title"></h3>

        <div class="card-tools">
			<a class="btn btn-orange text-white" href="{{path('admin_catalogo_index')}}">
				<i class="fas fa-angle-left"></i>
				Regresar
			</a>
		</div>

	</div>
{% endblock %}

{% block bodyWindow %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5">
				<div class="card card-info">

					<div class="overlay d-none" id="loadingopciones">
						<i class="fas fa-2x fa-sync-alt fa-spin"></i>
					</div>

					<div class="card-header bg-orange">
						<h3 class="card-title">Formas de Pago</h3>
					</div>
					<form role="form">
						<div class="card-body">
							<div class="icheck-warning">
									<input 
										type="radio" 
										id="transfbanc" 
										name="formapago"
										value="transfbanc">
									<label for="transfbanc">
										Transferencia Bancaria
									</label>
								</div>
							{% if fp.pagoEfecMen and false %}
								<div class="icheck-warning">
									<input 
										type="radio" 
										id="pagoefectivo" 
										name="formapago"
										checked
										value="mensajero">
									<label for="pagoefectivo">
										Pagar en efectivo al mensajero (Compras hasta 50 d&oacute;lares)
									</label>
								</div>
							{% endif %}
							{# {% if fp.pagoOfic %}
								<div class="icheck-warning">
									<input 
										type="radio" 
										id="pagooficina" 
										value="oficina"
										{% if not fp.pagoEfecMen %}checked{% endif %}
										name="formapago">
									<label for="pagooficina">
										Pago en Oficina
										<!-- Pago en Oficina (Compras hasta 50 $dólares) -->
									</label>
								</div>
							{% endif %} #}
							{% if fp.credDirecto %}
								<div class="icheck-warning">
									<input 
										type="radio" 
										id="creditodirecto" 
										name="formapago" 
										{# {% if not fp.pagoEfecMen and not fp.pagoOfic %}checked{% endif %} #}
										checked
										value="creditodirecto">
									<label for="creditodirecto">
										Cr&eacute;dito directo
									</label>
								</div>
							{% endif %}

							<div class="icheck-warning">
								<input 
									type="radio" 
									id="tarjeta" 
									name="formapago" 
									{% if not fp.pagoEfecMen and not fp.pagoOfic and not fp.credDirecto %}checked{% endif %}
									value="tc">
								<label for="tarjeta">
									Tarjeta de Crédito o Débito
								</label>
							</div>
							



						</div>


					</form>

				</div>

				<div class="card card-info">
					<div class="card-body">
						<div class="col-md-12 table-responsive">
							<p class="text-center legendlogin small">
								Contactos PRINTO CLOUD<br>
								Correo: soporte@printo.cloud<br>
								Teléfono: (02) 3420141<br>
								Dirección: 6 de Marzo #3000 y General Gómez (Esquina)<br>
								<br>
								
								Al realizar la compra usted esta aceptando los
								<a href="{{path('legal_terminos')}}" target="_blank">T&eacute;rminos y Condiciones</a>,
								<a href="{{path('legal_politicas_entrega')}}" target="_blank">Pol&iacute;tica de Entrega</a> y
								<a href="{{path('legal_politicas_privacidad')}}" target="_blank">Pol&iacute;tica de Privacidad</a>.
							</p>
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-7">
				<div class="card card-info">

					<div class="overlay d-none" id="loadingformapago">
						<i class="fas fa-2x fa-sync-alt fa-spin"></i>
					</div>
				
					<div class="card-header bg-orange">
						<h3 class="card-title">Detalle</h3>
					</div>
						
					<div class="card-body ">
						<h5 class="font-weight-bold">Detalle de Compra</h5>
						<div class="row">
							<div class="col-md-6 table-responsive">
								<table class="table table-hover text-nowrap table-sm">
									<tbody>
										{# <tr>
											<td>Total Items</td>
											<td class="text-right">{{valores.items|format_currency('USD', {fraction_digit: 2})}}</td>
										</tr> #}
										{# <tr>
											<td>Envio</td>
											<td class="text-right">{{valores.envio|format_currency('USD', {fraction_digit: 2})}}</td>
										</tr> #}
										<tr>
											<td>Subtotal</td>
											<td class="text-right">{{valores.subtotal|format_currency('USD', {fraction_digit: 2})}}</td>
										</tr>
										<tr>
											<td>I.V.A.</td>
											<td class="text-right">{{valores.iva|format_currency('USD', {fraction_digit: 2})}}</td>
										</tr>
										<tr>
											<td>Total a Pagar</td>
											<td class="text-right">{{valores.pagar|format_currency('USD', {fraction_digit: 2})}}</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="col-md-6 table-responsive">
								
							</div>
						</div>
						
						<div id="panelFormaPago">
							
						</div>

						

						
					</div>

						


				</div>


			</div>

			<div class="col-lg-5">
				
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function () {

			{% for flashMessage in app.session.flashbag.get('success') %}
				toastr.success('{{flashMessage}}')
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error') %}
				toastr.error('{{flashMessage}}')
			{% endfor %}

			{# {% for flashMessage in app.session.flashbag.get('toOption') %} #}
				$("input#tarjeta").trigger("click");
			{# {% endfor %} #}

			$('#productDetails').on('click', '.confirmdelete', function() {
				let url = $(this).attr('data-url');
				$('#confirmacionEliminacion').attr('data-url', url);
			});
			
			$("input[name='formapago']").on("change", function(){

				$("#loadingformapago").removeClass('d-none');

				let url = "{{path('admin_change_method_payment')}}";
				let op = $(this).val();
				let data = {
					formapago : op
				}

				if (op == 'creditodirecto' || op == 'transfbanc' || op == 'tc') {
					$.ajax({
						type: "POST",
						url: url,
						data: data,
						success: function (res) {

							if (res.error) {
								toastr.error(res.message)
								setTimeout(function () {
									location.href = res.urlRedirect
								}, 3000)
							}else{
								$("#panelFormaPago").html(res.html)
								$("#loadingformapago").addClass('d-none')
							}
							
							
						},
					});
				}else{
					$("#panelFormaPago").html('')
					$("#loadingformapago").addClass('d-none')
				}

			});

			$("input[name='formapago']:checked").trigger("change");
		});
	</script>

	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
