{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
    <link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('custom/css/custom.css?v=2.2') }}"/>
{% endblock %}


{% block customJs %}
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
    <script src="{{ asset('custom/js/orden-proceso.js') }}"></script>
    <script>
        let urlCambioRequiereEnvio = "{{ path('admin_cambio_requiere_envio') }}";
        let urlCalcularMetodo = "{{ path('admin_calcular_metodo') }}";
    </script>
{% endblock %}

{% block titlePage %}Proceso del Ticket
{% endblock %}

{% block titleWindow %}
    <div class="card-header">

        <a href="{{ path('admin_catalogo_index') }}" class="btn">
            <h3 class="card-title">
                <i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;Resumen de la Orden</h3>
        </a>

    </div>
{% endblock %}

{% block bodyWindow %}

    <div class="row">
        <div class="col-lg-6">
            <div class="card-body table-responsive p-0" id="panelResumenOrden">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">P. Unit.</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if itemsOrden is empty %}
                            <tr>
                                <td colspan="5">
                                    No hay productos agregados en el ticket
                                </td>
                            </tr>
                        {% else %}
                            {% for item in itemsOrden %}
                                <tr>
                                    <td>
                                        {{ item.nombreProducto|nl2br }}<br/>
                                        <p class="stripHr">{{ item.descripcion|nl2br }}</p>
                                    </td>
                                    <td class="text-center">{{ item.cantidad }}</td>
                                    <td class="text-center">{{ (item.precio / item.cantidad)|format_currency('USD', {fraction_digit: 2}) }}</td>
                                    <td class="text-center">
                                        {{ item.precio|format_currency('USD', {fraction_digit: 2}) }}
                                    </td>
                                </tr>
                            {% endfor %}

                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{{ path('admin_catalogo_index') }}" class="btn btn-orange">Editar Orden</a>
            </div>
        </div>
        <div class="col-lg-6">

            <form role="form" id="formOrden" action="{{ path('admin_pago_order') }}" method="POST">
                <div class="card card-secondary">

                    <div class="card-header">
                        <h3 class="card-title">Proceso de Pedido</h3>
                    </div>
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-sm-3">Sutotal Productos</label>
                            <div class="col-sm-9">

                                <label>
                                    {{ valores.subtotalItems|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
                                </label>

                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">¿Requiere Envio?</label>
                            <div class="col-sm-9">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn bg-op">
                                        <input type="radio" name="requiereenvio" id="option1" autocomplete="off" value="si"/>
                                        SI
                                        <small>Direcciones</small>
                                    </label>
                                    <label class="btn bg-op active">
                                        <input type="radio" name="requiereenvio" id="option2" autocomplete="off" checked value="no"/>
                                        NO
                                        <small>Retiro en Oficina</small>
                                    </label>
                                </div>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Pronto habilitaremos opción de envíos...!
                                </small>
                            </div>
                        </div>

                        <div id="panelMetodoEnvio"></div>


                    </div>
                    

                    <div class="card-header">
                        <h3 class="card-title">Pago</h3>
                    </div>

                    <div class="card-body">

                        <div id="panelTarifas">
                            {% include 'admin/orden/envio/calculo_envio.html.twig' with {'valores' : valores} %}
                        </div>


                    </div>


                    <div class="overlay d-none" id="loadingPagos">
                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                    </div>

                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-orange" id="btnCrearOrden">Realizar Pago</button>
                </div>

            </form>

        </div>


    </div>


    {# {% include 'admin/orden/modal_confirmacion_orden.html.twig' %} #}

    <script></script>

    <script>
        function calcularTarifas(data) {
            $("#loadingDireccion").removeClass("d-none");
            let url = "{{ path('admin_calcular_tarifas') }}";
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (response) {
                    $(".valorTarifaPicker").text(response.valorPicker);
                    $(".valorDescuento").text(response.valorDescuentoPicker);
                    $(".valorTotalEnvio").text(response.valorTotalEnvio);
                    $(".valorSubtotal").text(response.valorSubtotal);
                    $(".valorIva").text(response.valorIva);
                    $(".totalPagar").text(response.totalPagar);
                    $(".valorSubtotalItems").text(response.valorSubtotalItems);
                    $(".btnCrearOrden").removeAttr("disabled");
                    $("#loadingDireccion").addClass("d-none");
                },
                error: function () {
                    toastr.error('Hubo un error con esa dirección, elija otra');
                    $(".valorTarifaPicker").text("$0.00");
                    $(".valorDescuento").text("$0.00");
                    $(".valorTotalEnvio").text("$0.00");
                    $(".btnCrearOrden").removeAttr("disabled");
                    $("#loadingDireccion").addClass("d-none");
                    $("select[name='direccion']").val("").trigger("change");
                }

            });
        }


        $(document).ready(function () { // Pruebas

            {% for flashMessage in app.session.flashbag.get('success') %}
                toastr.success('{{ flashMessage }}');
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                toastr.error('{{ flashMessage }}');
            {% endfor %}
            
            $("input[name='pagomotirizado']").on("change", function () {
                if ($(this).val() == "si") {
                    $(".entregamotorizado").text("SI");
                } else {
                    $(".entregamotorizado").text("NO");
                }
            });
            /*$("input[name='requiereenvio']").on("change", function () {
                if ($(this).val() == "si") {
                    $("#direccionesSection").removeClass("d-none");
                    $(".totalPickerSection").removeClass("d-none");
                    $(".btnCrearOrden").attr("disabled", true);
                    $("select[name='direccion']").attr("required", "required");
                    $("select[name='direccion']").val("").change();
                    $(".envio").text("SI");
                } else {
                    $("#direccionesSection").addClass("d-none");
                    $(".totalPickerSection").addClass("d-none");
                    $(".btnCrearOrden").removeAttr("disabled");
                    $(".envio").text("Retiro en Oficina");
                    $(".direccionLabel").text(" - ");
                    $("select[name='direccion']").removeAttr("required");
                    $("input[name='pagomotirizado'][value='no']").attr("checked", 'checked').click();
                    let data = {
                        requiereEnvio: false
                    };
                    calcularTarifas(data);
                }
            });*/
            $("select[name='direccion']").on("change", function () {
                if ($(this).val() != "") {
                    let data = {
                        direccionId: $(this).val(),
                        requiereEnvio: true
                    };
                    $(".direccionLabel").text($("select[name='direccion'] option:selected").text());
                    calcularTarifas(data);
                } else {
                    $("#btnCrearOrden").attr("disabled", true);
                    $("#valorTarifaPicker").text("$ -");
                    $("#valorDescuento").text("$ -");
                    $(".direccionLabel").text(" - ");
                }
            });
        });
    </script>


    <!-- /.modal -->
{% endblock %}


{% block footerWindow %}
    <div class="card-footer"></div>
{% endblock %}
