<div class="form-group row">
	<label class="col-sm-3 col-form-label text-right">Productos</label>
	<div class="col-sm-6">
		<select class="form-control select2bs4" style="width: 100%;" name="producto" required>
			{% if item is empty %}
				<option value="" selected="selected">
					Seleccione Tipo
				</option>
			{% endif %}
			<optgroup label="Favoritos"/>
			{% if productos.productosFav is defined %}
				{% for producto in productos.productosFav %}
					{% if item is not empty and item.idProducto == producto.idProducto %}
						<option value="{{ producto.idProducto }}" selected="selected">
							{{ producto.nombreProducto }}
						</option>
					{% else %}
						<option value="{{ producto.idProducto }}">
							{{ producto.nombreProducto }}
						</option>
					{% endif %}
				{% endfor %}
			{% endif %}
			<optgroup label="Otros"/>
			{% if productos.productos is defined %}
				{% for producto in productos.productos %}
					{% if item is not empty and item.idProducto == producto.idProducto %}
						<option value="{{ producto.idProducto }}" selected="selected">
							{{ producto.nombreProducto }}
						</option>
					{% else %}
						<option value="{{ producto.idProducto }}">
							{{ producto.nombreProducto }}
						</option>
					{% endif %}
				{% endfor %}
			{% endif %}
		</select>
	</div>
	<div class="col-sm-3" id="favorito-swtich"></div>
</div>

<div id="flujo"></div>

<script>
	$('.select2bs4').select2({
		theme: 'bootstrap4'
	});

	$("select[name='producto']").on("change", () => {
		let url  = '{{ path('admin_change_product') }}';
		let data = {
			productoId:   $("select[name='producto']").val(),
			tipoProducto: $("select[name='categoria']").val(),
			idItem:		  $("input[name='idItem']").val()
		};
		$.ajax ({
			type: "POST",
			url: url,
			data: data,
			success: function (response) {
				$ ("#favorito-swtich").html (response.favoriteHtml);
				$ ("#flujo").html (response.flujoHtml);
			}
		});
	});

	{% if item is not empty %}
		$("select[name='producto']").change();
	{% endif %}	
</script>
