<div class="form-group row">
	<label class="col-sm-3 col-form-label">Material</label>
	<div class="col-sm-6">
		<select class="form-control select2bs4" style="width: 100%;" name="material" required>
			<option value="" selected="selected">Seleccione Material</option>
			{% if productos.subcategorias is defined %}
				{% for subcategoria in productos.subcategorias %}
					<option value="{{subcategoria}}">{{subcategoria}}</option>
				{% endfor %}
			{% endif %}
		</select>
	</div>
</div>

<div id="flujo">

</div>

<script>
	$('.select2bs4').select2({theme: 'bootstrap4'})
    
	$("select[name='material']").on("change", () => {
		let url = '{{path('admin_change_material')}}';
		let data = {
			material : $("select[name='material']").val(),
			categoria : $("select[name='categoria']").val()
		};
		$.ajax({
          type: "POST",
          url: url,
          data: data,
          success: function (response) {
			  //$("#favorito-swtich").html(response.favoriteHtml);
			  $("#flujo").html(response.flujoHtml);
          }
      	});
	});
</script>
