<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>

	</head>
	<body>

        <label for="">Nombre del archivo : </label>
        <input type="text" name="namefile" value="archivoprueba.tif"/>
        <br>
        <label for="">Token : </label>
        <input type="text" name="token" value="1000.1f8de51c21ccbec0c6f6b8a1dbedc1b9.14d78b70dc9efcc019138021cf8447e2"/>
        <br>
        <label for="">Id File</label>
        <input type="text" name="idfile" value="120220210001"/>
        <br>


		<form>
			<label for="file1">Archivo :</label>
			<input type="file" name="file1" id="fileupload" id="file1"><br>
			<button type="button" id="sent">Enviar</button>
		</form>


		<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
		<script src="{{asset('custom/js/test.js')}}"></script>
	</body>
</html>
