<div class="overlay d-none" id="loadingṔagos">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
</div>

<form action="{{path('admin_envios_shopper_result')}}" class="paymentWidgets" data-brands="VISA MASTER AMEX DINERS DISCOVER"></form>

<script type="text/javascript">
    var wpwlOptions = {
        style: 'card',
        locale: 'es',
        onReady: function(onReady) {
            var createRegistrationHtml = '<div class="customLabel">Desea guardar de manera segura sus datos?</div><div class="customInput"><input type="checkbox" name="createRegistration" /></div>';
            $('form.wpwl-form-card').find('.wpwl-button').before(createRegistrationHtml);
            var datafast= '<br/><br/><img src='+'"https://www.datafast.com.ec/images/verified.png" class="verifieddatafast">'; 
            $('form.wpwl-form-card').find('.wpwl-button'). before(datafast); 
        },
        registrations: {
            requireCvv : true,
            hideInitialPaymentFOrms: true
        },
        locale: "es",
        labels : {
            cvv: "CVV",
            cardHolder: "Nombre(Igual que en la tarjeta)"
        }
    }
</script>

<script type="text/javascript" src="{{app.request.server.get('DF_BASE_URL_API')}}/v1/paymentWidgets.js?checkoutId={{checkoutId}}"></script>
