{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
    <link rel="stylesheet" href="{{asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}"/>
    <link rel="stylesheet" href="{{asset('plugins/select2/css/select2.min.css')}}"/>
    <link rel="stylesheet" href="{{asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}"/>
    <link rel="stylesheet" href="{{asset('custom/css/custom.css?v=4.5')}}"/>
{% endblock %}


{% block customJs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script src="{{asset('plugins/select2/js/select2.full.min.js')}}"></script>
    <script src="{{asset('plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}"></script>
    <script src="{{asset('plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
    <script src="{{asset('custom/js/catalogo.js?v=2.5')}}"></script>
    <script>
        let urlUploadFiles = "{{ path('admin_add_file') }}";
        let urlPrepareUpload = "{{ path('admin_prepare_upload') }}";
        let urlUpdateFile = "{{ path('admin_update_file') }}";
        let urlObtenerInfoProducto = "{{ path('admin_catalogo_obtener_info_producto') }}";
        let urlCambiarMaterial = "{{ path('admin_catalogo_change_product') }}";
        let urlDeleteProducto = "{{ path('admin_catalogo_eliminar_item') }}";
        let urlUploadImageProducto = "{{ path('admin_catalogo_upload_img_prod') }}";
        let esProforma = {{app.session.get('esProforma') ? 'true' : 'false'}};
        let tarifas = {{ tarifas|json_encode|raw }};
    </script>
{% endblock %}

{% block titlePage %}
    {# <button class="btn btn-outline-secondary"  id="addNewOrden" data-toggle="modal" data-target="#modal-nuevaorden" data-backdrop="static" data-keyboard="false">
            	<i class="fa fa-plus-square"></i> 
            	Nueva Orden
            </button> #}

{% endblock %}

{% block titleWindow %}
    <div class="card-header">
        <h3 class="card-title">Catálogo de Productos</h3>
        <div class="card-tools"></div>
    </div>
{% endblock %}

{% block bodyWindow %}
    <div class="card-body" id="productDetails">
        {% include "admin/catalogo/productos/detalle_catalogo.html.twig" %}
    </div>
    <div class="overlay d-none" id="loadingDetails">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>


    {#% include 'admin/orden/modal_new.html.twig' %#}

    <script>
        $(document).ready(function (){
            
            {% for flashMessage in app.session.flashbag.get('success') %}
                toastr.success('{{ flashMessage }}')
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                toastr.error('{{ flashMessage }}')
            {% endfor %}

        });
    </script>

    <!-- /.modal -->
{% endblock %}


{% block modalBlock %}
    {% include 'admin/catalogo/productos/modal_nuevo_producto.html.twig' %}
    {% include 'admin/catalogo/productos/modal_eliminacion.html.twig' %}
    {% include 'admin/catalogo/modal_nueva_orden.html.twig' %}
{% endblock %}


{% block controlSideBar %}
    <aside class="control-sidebar control-sidebar-light" id="cartSideBar">
        <div class="control-sidebar-content">
            {% include 'admin/catalogo/productos/detalle_productos.html.twig' %}
        </div>
    </aside>
{% endblock %}


{% block footerWindow %}
    <div class="card-footer"></div>
{% endblock %}
