{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="{{asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}">
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=1.0')}}">

{% endblock %}

{% block customJs %}
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.full.min.js"></script>
	<script src="{{asset('custom/js/direcciones.js?v=1.0')}}"></script>
	<script>
		let urlChangeProvincia = "{{ path('admin_direcciones_change_provincia') }}";
	</script>
{% endblock %}

{% block titlePage %}Contactos del Cliente
{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title">Direcciones</h3>

		<div class="card-tools">
			<a href="" class="btn btn-orange new">
				<i class="fas fa-plus"></i> Nuevo Contacto
			</a>
		</div>
	</div>
{% endblock %}

{% block bodyWindow %}

	<div class="row">
		<div class="col-lg-7">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Contactos Disponibles
					</h3>

					
				</div>
				<form role="form">
					<div class="card-body table-responsive p-0" id="registrosDetails">

						

						<table class="table table-hover text-nowrap">
							<thead>
								<tr>
									<th class="text-center"></th>
									<th class="text-center">Nombre</th>
									<th class="text-center">Celular</th>
									<th class="text-center">Identificacion</th>
								</tr>
							</thead>
							<tbody>
								{% if contactos is empty %}
									<tr>
										<td colspan="5">
											No hay Contactos Agregados
										</td>
									</tr>
								{% else %}
									{% set idx = 1 %}
									{% for contacto in contactos %}
										<tr>
											<td class="text-center">
												<a href="" data-url="{{path('admin_contactos_delete',{id:contacto.id})}}" class="btn btn-orange btn-sm confirmdelete" data-toggle="modal" data-target="#modal-eliminacion" data-backdrop="static" data-keyboard="false">
													<i class="fas fa-trash"></i>
												</a>
												<a href="" class="btn btn-info btn-sm edit" data-info="{{contacto|json_encode()}}">
													<i class="fas fa-edit"></i>
												</a>
												<a href="{{path('admin_direcciones_index',{id:contacto.id})}}" class="btn btn-success btn-sm verDirecciones" >
													<i class="fas fa-address-book"></i>
												</a>
											</td>
											<td>
												{{contacto.Name}}
												{{contacto.Apellidos_de_Contacto}}
											</td>
											<td>
												{{contacto.Celular}}
											</td>
											<td>
												{{contacto.Identificaci_n}}
											</td>
										</tr>
										{% set idx = idx + 1 %}
									{% endfor %}

								{% endif %}
							</tbody>
						</table>


					</div>


				</form>

			</div>
		</div>
		<div class="col-lg-5">
			<div class="card card-success">
				<div class="card-header">
					<h3 class="card-title">Nueva Direcci&oacute;n</h3>
				</div>
				<div class="card-body">
					{% include 'admin/contactos/new_edit_contacto.html.twig' %}
				</div>

			</div>


		</div>
	</div>

	{% include 'admin/orden/modal_eliminacion.html.twig' %}

	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
