<form role="form" action="{{path('admin_contactos_guardar')}}" method="POST" id="formRegistro">


	<input type="hidden" name="id" value="">

	<div class="form-group row">
		<label class="col-xl-3 col-form-label">Nombres :
		</label>
		<div class="col-xl-9">
			<input type="text" class="form-control" name="Name" placeholder="Nombre del destinatario" required>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-xl-3 col-form-label">Apellidos :
		</label>
		<div class="col-xl-9">
			<input type="text" class="form-control" name="Apellidos_de_Contacto" placeholder="Apellido del destinatario" required>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-xl-3 col-form-label">Celular :
		</label>
		<div class="col-xl-9">
			<input type="text" class="form-control" name="Celular" placeholder="Numero de celular del destinatario">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-xl-3 col-form-label">Identificaci&oacute;n :
		</label>
		<div class="col-xl-9">
			<input type="text" class="form-control" name="Identificaci_n" placeholder="Identificación" required>
		</div>
	</div>


	<div class="">
		<button type="submit" id="saveDireccion" class="btn btn-success">Guardar</a>
	</div>

</form>
