{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=2.1')}}">
{% endblock %}


{% block customJs %}
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script src="{{asset('custom/js/invoice.js?v=1.0')}}"></script>
	<script>
		// let urlUploadFiles = "{{path('admin_add_file')}}";
	</script>
{% endblock %}

{% block titlePage %}
PAGO FACTURAS
{% endblock %}

{% block titleWindow %}
	{# <div class="card-header">
		<h3 class="card-title">Detalle de la Orden</h3>
	</div> #}
{% endblock %}

{% block bodyWindow %}
	
    <div class="card-body">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                
                <div class="container" id="panel-py">

                    <div class="row justify-content-md-center">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="overlay" id="loading">
                                        <div class="loader"></div>
                                        <p>Procesando su solicitud</p>
                                    </div>
                                    <p>
                                        {% if app.user.razonSocial is empty %}
                                            <b>Nombre:</b> {{app.user.nombre}} {{app.user.apellido}} </br>
                                        {% else %}
                                            <b>Razon Social:</b> {{app.user.razonSocial}}</br>
                                        {% endif %}
                                        <b>Identificación:</b> {{app.user.ruc}} </br>
                                        <b>Correo:</b> {{app.user.email}} </br>
                                    </p>

                                    {# <input type="hidden" value="{{payment.token}}" name="token"> #}
                                    {% set totalDeuda = 0 %}
                                    <form action="" class="norounds" data-url="{{path('admin_invoice_checkout')}}" id="form-payment">
                                        <div class="facturas">
                                            {% for invoice in invoices %}
                                                {% set totalDeuda = totalDeuda + invoice.balance %}
                                                <div class="form-group row">
                                                    <label for="factura{{invoice.invoice_id}}" class="col-sm-6 col-9 col-form-label font-weight-bold">
                                                        {{invoice.invoice_number}} 
                                                        {% if invoice.status == 'sent' %}
                                                            <span class="badge badge-info">Pendiente</span>    
                                                        {% elseif invoice.status == 'overdue' %}
                                                            <span class="badge badge-danger">Vencida</span>
                                                        {% elseif invoice.status == 'partially_paid' %}
                                                            <span class="badge badge-warning">Parcialmente Pagado</span>
                                                        {% else %}
                                                            <span class="badge badge-warning">{{invoice.status}}</span>
                                                        {% endif %}
                                                        
                                                    </label>
                                                    <div class="col-sm-2 col-3 text-right">
                                                        <a href="{{invoice.invoice_url}}" class="btn btn-orange btn-sm" target="_blank">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-4 col-12 input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">$</div>
                                                        </div>
                                                            <input 
                                                                type="text" 
                                                                class="form-control currency totalInvoice" 
                                                                id="factura{{invoice.invoice_id}}" 
                                                                value="{{invoice.balance}}" 
                                                                data-max="{{invoice.balance}}" 
                                                                data-invoiceid="{{invoice.invoice_id}}" 
                                                                {% if invoice.customer_id == "0" %}disabled{% endif %}	
                                                            />				
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </form>
                                    <div class="row">
                                        <h5 class="col-sm-6 text-left text-black font-weight-bold">Valor Adeudado</h5>
                                        <h5 class="col-sm-6 text-right text-black font-weight-bold">
                                            $
                                            <span>{{totalDeuda}}</span>
                                        </h4>
                                    </div>
                                    {% if totalDeuda != 0 %}
                                    <div class="row">
                                        <h4 class="col-sm-8 text-left text-orange font-weight-bold">Valor a Pagar</h4>
                                        <h4 class="col-sm-4 text-right text-orange font-weight-bold input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="text" id="totalPagar" class="form-control currency" value="{{totalDeuda}}"/>
                                            {# <span id="totalPagar">{{totalDeuda}}</span> #}
                                        </h4>
                                    </div>

                                    <div class="row text-center facturas">
                                        <div class="col-lg-12 text-center mt-4">
                                            <a href="" class="btn btn-black" id="nextPayment">Continuar con el Pago</a>
                                        </div>
                                    </div>

                                    <div class="row text-center original d-none">
                                        <div class="col-lg-12 text-center mt-4">
                                            <a href="" class="btn btn-black" id="nextPayment">Modificar</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="tc"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="mt-5 text-center legendlogin">
                                                Al ingresar a pagos.primeraimpresion.com.ec aceptas todos nuestros<br>
                                                <a href="https://primeraimpresion.com.ec/terminos-y-condiciones/" target="_blank">Términos y Condiciones</a>
                                                <br>
                                                <a href="https://primeraimpresion.com.ec/politicas-de-entrega/" target="_blank" class="text-dark">Política de Entrega</a>
                                                <span class="text-orange">|</span>
                                                <a href="https://primeraimpresion.com.ec/privacy-policy/" target="_blank" class="text-dark">Política de Privacidad</a>
                                                <span class="text-orange">|</span>
                                                <a href="https://primeraimpresion.com.ec/contact/" target="_blank" class="text-dark">Contacto</a>
                                            </p>
                                        </div>
                                    </div>
                                        
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    

	<script>
		$(document).ready(function () {

			{% for flashMessage in app.session.flashbag.get('success') %}
				toastr.success('{{flashMessage}}')
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error') %}
				toastr.error('{{flashMessage}}')
			{% endfor %}

		});
		
	</script>

	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
