{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=2.0')}}">
{% endblock %}


{% block titlePage %}
PAGO FACTURAS
{% endblock %}


{% block bodyWindow %}
	
    <div class="card-body">
        <div class="row">

            <div class="alert alert-success text-center p-4" role="alert">
                <i class="fas fa-check fa-4x"></i>
                <br>
                <b>PAGO REALIZADO!</b>
                <br>
                {% if purchase.payment.amount is defined %}
                    Se realizado un pago por $ {{purchase.payment.amount}} con su tarjeta de credito!
                {% else %}
                    Se realizado un pago con su tarjeta de credito!
                {% endif %}
                
            </div>

        </div>
    </div>
    

	<script>
		$(document).ready(function () {

			{% for flashMessage in app.session.flashbag.get('success') %}
				toastr.success('{{flashMessage}}')
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error') %}
				toastr.error('{{flashMessage}}')
			{% endfor %}

		});
		
	</script>

	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
