
<form action="{{path('admin_invoice_shopper_result')}}" class="paymentWidgets" data-brands="VISA MASTER AMEX DINERS DISCOVER"></form>


<script type="text/javascript">
    var wpwlOptions = {
        style: 'card',
        locale: 'es',
        onReady: function(onReady) {
            var datafast = '<br/><br/><img src='+'"https://www.datafast.com.ec/images/verified.png" class="verifieddatafast">'; 
            $('form.wpwl-form-card').find('.wpwl-button'). before(datafast);
        },
        registrations: {
            requireCvv : true,
            hideInitialPaymentFOrms: true
        },
        locale: "es",
        labels : {
            cvv: "CVV",
            cardHolder: "Nombre(Igual que en la tarjeta)"
        }
    }
</script>

<script type="text/javascript" src="{{app.request.server.get('DF_BASE_URL_API')}}/v1/paymentWidgets.js?checkoutId={{checkoutId}}"></script>
