<div class="overlay d-none" id="loadingTarifas">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
</div>

<dl>
    <dt class="">Tickets Seleccionados</dt>
    <dd class="">
        {% for ticket in tickets %}
            #{{ ticket }}
        {% endfor %}
        <br/>
        {% if valores is not defined or valores is empty %}
            $ --.--
        {% else %}
            {{ valores.subtotalItems|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        {% endif %}
    </dd>
    {# <dt class="">Saldo de Envios a favor</dt>
    <dd class="">
        {% if valores is not defined or valores is empty %}
            $ --.--
        {% else %}
            {{ valores.rubrosEnvios.totalFavor|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        {% endif %}
    </dd> #}
    {# <dd class="col-sm-8 offset-sm-4">Donec id elit non mi porta gravida at eget metus.</dd> #}
    <dt class="">Costo de Envío</dt>
    <dd class="">
        {% if valores is not defined or valores is empty %}
            $ --.--
        {% else %}
            {{ valores.rubrosEnvios.totalPagar|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        {% endif %}
    </dd>

    {# <dt class="">Descuento</dt>
    <dd class="">
        {% if valores is not defined or valores is empty %}
            $ --.--
        {% else %}
            {{ valores.rubrosEnvios.totalDescuento|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        {% endif %}
    </dd> #}

    {# <dt class="">Total a Pagar de Envio</dt>
    <dd class="">
        {% if valores is not defined or valores is empty %}
            $ --.--
        {% else %}
            {{ valores.rubrosEnvios.totalPagar|format_currency('USD', {fraction_digit: 2}, 'en_US') }}
        {% endif %}
    </dd> #}
</dl>


<hr/>

{% if valores is defined and valores is not empty %}
    <div class="row">
        <div class="col-sm-12">

            <div class="form-group row">
                <p>Tiempo de entrega : 24 - 48 Horas</p>
                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="politicas" name="politicas"/>
                    <label for="politicas">Aceptar las políticas de Envío</label>
                </div>
            </div>

            

            <div class="form-group row text-center">
                {% if valores.totalPagarItemsEnvios == 0 %}
                    <button type="button" class="btn btn-success disabled realizarTrx" disabled id="realizarEnvio">Realizar Envio</button>
                {% else %}
                    <button type="button" class="btn btn-success disabled realizarTrx" disabled id="realizarPago">Realizar Pago y Enviar</button>
                {% endif %}
                
            </div>


        </div>

    </div>
{% endif %}
