<div id="accordion">
    {% for orden, tickets in ordenes %}
        {% set loopOrden = loop.index %}

        <div class="card card-dark">
            <div class="card-header">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapse{{ orden }}">
                        ORDEN
                        {{ orden }}
                    </a>
                </h4>
            </div>
            <div id="collapse{{ orden }}" class="collapse multi-collapse show">
                <div class="card-body p-0 m-0">

                    <table class="table table-hover text-nowrap table-sm">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center"># Ticket</th>
                                <th class="text-center">Asunto</th>
                                <th class="text-center">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tickets is defined and tickets is empty %}
                                <tr id="itemEmpty">
                                    <td colspan="4">
                                        No hay productos agregados en el Ticket
                                    </td>
                                </tr>
                            {% else %}
                                {% for ticket in tickets %}
                                    <tr>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                {% if ticket.status == 'EMPACADO' %}
                                                    <input type="checkbox" id="chk{{ loopOrden }}{{ loop.index }}" checked value="{{ ticket.ticketNumber }}" name="ticketsSelected"
                                                    data-orden="{{orden}}" data-cant="{{tickets|length}}"/>
                                                {% else %}
                                                    <input type="checkbox" id="chk{{ loopOrden }}{{ loop.index }}" disabled/>
                                                {% endif %}
                                                <label for="chk{{ loopOrden }}{{ loop.index }}"></label>

                                            </div>
                                        </td>
                                        <td class="text-center">{{ ticket.ticketNumber }}</td>
                                        <td class="text-center">
                                            {{ ticket.subject }}<br/>
                                            <small>{{ ticket.createdTime|format_datetime("long",'medium', locale= 'es') }}</small>
                                        </td>
                                        <td class="text-center">
                                            {% if ticket.status == 'EMPACADO' %}
                                                <span class="badge badge-success">
                                                    <i class="fa-solid fa-check"></i>
                                                    {{ ticket.status }}
                                                </span>
                                            {% elseif ticket.status == 'CALIDAD' %}
                                                <span class="badge bg-teal">
                                                    <i class="fa-solid fa-spinner"></i>
                                                    {{ ticket.status }}
                                                </span>
                                            {% elseif ticket.status == 'PAUSADO' %}
                                                <span class="badge badge-warning">{{ ticket.status }}</span>
                                            {% else %}
                                                <span class="badge badge-info">{{ ticket.status }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
