<table class="table table-hover text-nowrap">
    <thead>
		<tr>
			<th class="text-center"></th>
			<th class="text-center"># Ticket</th>
			<th class="text-center">Asunto</th>
			<th class="text-center">Estado</th>
		</tr>
	</thead>
	<tbody>
		{% if tickets is defined and tickets is empty %}
			<tr id="itemEmpty">
				<td colspan="4">
					No hay productos agregados en el Ticket
				</td>
			</tr>
		{% else %}
			{% for ticket in tickets %}
				<tr>
                    <td>
                        <div class="icheck-primary d-inline">
                            {% if ticket.status == 'EMPACADO' %}
                            <input type="checkbox" id="checkboxPrimary{{loop.index}}" checked value="{{ticket.ticketNumber}}" name="ticketsSelected">
                            {% else %}
                            <input type="checkbox" id="checkboxPrimary{{loop.index}}" disabled>
                            {% endif %}
                            <label for="checkboxPrimary{{loop.index}}">
                            </label>
                            
                        </div>
                    </td>
					<td class="text-center">{{ticket.ticketNumber}}</td>
					<td class="text-center">
						{{ticket.subject}}<br>
                        <small>{{ticket.createdTime|format_datetime("long",'medium', locale= 'es')}}</small>
					</td>
					<td class="text-center">
                        {% if ticket.status == 'EMPACADO' %}
                        <span class="badge badge-success">
							<i class="fa-solid fa-check"></i>
							{{ticket.status}}
						</span>
                        {% elseif ticket.status == 'CALIDAD' %}
                        <span class="badge bg-teal">
							<i class="fa-solid fa-spinner"></i>
							{{ticket.status}}
						</span>
                        {% elseif ticket.status == 'PAUSADO' %}
                        <span class="badge badge-warning">{{ticket.status}}</span>
                        {% else %}
                        <span class="badge badge-info">{{ticket.status}}</span>
                        {% endif %}
					</td>
				</tr>
			{% endfor %}

		{% endif %}
	</tbody>
</table>