{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
	<link rel="stylesheet" href="{{asset('custom/css/custom.css?v=1.2')}}">
{% endblock %}


{% block customJs %}{% endblock %}

{% block titlePage %}Envio Finalizado
{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title">Transacción Enviada</h3>
	</div>
{% endblock %}

{% block bodyWindow %}
	<div class="card-body">
		<div class="error-page order-page">
			<h2 class="headline text-success">
				<i class="fas fa-check"></i>
			</h2>

			<div class="error-content">
				<h3>
					<b>Envio creado satisfactoriamente</b>
				</h3>
				{# <p>
					Por favor acercarse a nuestras oficinas, para poder retirar su orden.
				</p> #}
				<p>
					Valor cancelado : 
				</p>

				<a href="{{path('admin_envios_index')}}" class="btn btn-success">Crear Nuevo Envio</a>

			</div>
		</div>
	</div>

	<div class="card-footer"></div>


	<!-- /.modal -->
{% endblock %}


{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
