{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css"/>
    <link rel="stylesheet" href="{{asset('custom/css/custom.css?v=3.0')}}">
{% endblock %}


{% block customJs %}
    <script src="{{ asset('custom/js/envios.js?v=1.0') }}"></script>
    <script>
        let urlPrepararEnvio = "{{ path('admin_envios_preparar') }}";
    </script>
{% endblock %}

{% block titlePage %}
    {# <button class="btn btn-outline-secondary"  id="addNewOrden" data-toggle="modal" data-target="#modal-nuevaorden" data-backdrop="static" data-keyboard="false">
            	<i class="fa fa-plus-square"></i> 
            	Nueva Orden
            </button> #}
{% endblock %}

{% block titleWindow %}
    <div class="card-header">
        <h3 class="card-title">Envios en Progreso</h3>
    </div>
{% endblock %}

{% block bodyWindow %}

    <div id="panelEnvios">
        <div class="card-body table-responsive p-0">
            {% include 'admin/envios/detalle_ordenes.html.twig' %}
        </div>
        <div class="overlay d-none" id="loadingDetails">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>

        <div class="card-footer">
            <button class="btn btn-orange" id="btnCrearEnvio">Procesar Paquetes</button>
        </div>
    </div>


    <script>
        $(document).ready(function () {});
    </script>

    <!-- /.modal -->
{% endblock %}


{% block footerWindow %}
    <div class="card-footer"></div>
{% endblock %}
