{% extends 'default/default_dashboard.html.twig' %}

{% block customCss %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}"/>
    {# <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css"/> #}
    <link rel="stylesheet" href="{{ asset('custom/css/custom.css?v=1.0') }}"/>
{% endblock %}


{% block customJs %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.full.min.js"></script>
    <script src="{{ asset('custom/js/envios.js?v=1.0') }}"></script>
    <script>
        let urlCalcularMetodo = "{{ path('admin_envios_calcular_metodo') }}";
        let urlPrepararPago   = "{{ path('admin_envios_preparar_pago') }}";
        let contactos = '{{ contactos|json_encode|raw }}';
    </script>
{% endblock %}

{% block titlePage %}{% endblock %}

{% block titleWindow %}
    <div class="card-header">
        <h3 class="card-title">Opciones de Envio</h3>
    </div>
{% endblock %}

{% block bodyWindow %}

    <div
        id="panelEnvios">

        <!-- Inicio Panel para Ajax -->

        <div class="card-body">
            <form >


                <div class="row">
                    <div class="col-sm-4">

                        <div class="form-group row">
                            <label for="" class="col-sm-4">Contactos :</label>
                            <div class="col-sm-8">
                                <select name="contacto" class="form-control">
                                    <option value=""></option>
                                    {% for contacto in contactos %}
                                        <option 
                                            value="{{ contacto.id }}"
                                            >{{ contacto.Name ~ ' ' ~ contacto.Apellidos_de_Contacto }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-4">Dirección :</label>
                            <div class="col-sm-8">
                                <select name="direccion" class="form-control" disabled>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row d-none">
                            <label for="" class="col-sm-4">Destinatario :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="dest" disabled/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-4">Ciudad
                                <br/>
                                Provincia :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="ciuprov" disabled/>
                            </div>
                        </div>


                        <div class="form-group row d-none">
                            <label for="" class="col-sm-4">Dirección :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="dir" disabled/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label text-center">Elija un método de entrega</label>
                            <div class="col-sm-12 text-center">


                                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="metodosEnvio">
                                    <label class="btn bg-op disabled" for="metodoServientrega">
                                        {# <input type="radio" name="metodoEnvio" id="metodoServientrega" autocomplete="off" value="SERVIENTREGA"/> #}
                                        <input type="radio" name="metodoEnvio" id="metodoServientrega" autocomplete="off" value="NORMAL"/>
                                        {# <img src="{{ asset('dist/img/printo/servi.png') }}" alt="" class="img-fluid"/> #}
                                        Normal <br> <small>(Nivel Nacional)</small>
                                    </label>
                                    <label class="btn bg-op disabled" for="metodoPicker">
                                        {# <input type="radio" name="metodoEnvio" id="metodoPicker" autocomplete="off" value="PICKER"/> #}
                                        <input type="radio" name="metodoEnvio" id="metodoPicker" autocomplete="off" value="EXPRESS"/>
                                        {# <img src="{{ asset('dist/img/printo/picker.png') }}" alt="" class="img-fluid"/> #}
                                        Servicio Express <br> <small>(Guayaquil, Durán, Samborondón)</small>
                                    </label>
                                </div>

                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Seleccione uno de nuestros métodos de entrega a nivel local y nacional.
                                </small>
                            </div>

                        </div>


                    </div>
                    <div class="col-sm-3">


                        <div class="overlay-wrapper" id="panelTarifas">

                            {% include 'admin/envios/calculo_envio.html.twig' %}

                            
                        </div>


                    </div>

                    <div class="col-sm-5">
                        
                        <div class="overlay-wrapper" id="panelFormaPago">
                            
                        </div>

                    </div>
                </div>


            </form>
        </div>


        <div
            class="card-footer">{# <a href="" class="btn btn-orange" id="btnCrearEnvio">Procesar Paquetes</a> #}
        </div>


        <!-- Fin Panel para Ajax -->
    </div>


    <script>
        $(document).ready(function () {

            {% for flashMessage in app.session.flashbag.get('success') %}
				toastr.success('{{flashMessage}}')
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error') %}
				toastr.error('{{flashMessage}}')
			{% endfor %}

			{# {% for flashMessage in app.session.flashbag.get('toOption') %} #}
				$("input#tarjeta").trigger("click");
			{# {% endfor %} #}

        });
    </script>

    <!-- /.modal -->
{% endblock %}


{% block footerWindow %}
    <div class="card-footer"></div>
{% endblock %}
