<hr>
<h5>Cr&eacute;dito Directo</h5>
<div class="col-md-8 table-responsive">
	<table class="table table-hover text-nowrap table-sm">
		<tbody>
			<tr>
				<td>Cr&eacute;dito Aprobado</td>
				<td class="text-right">{{total.creditoaprobado|format_currency('USD', {fraction_digit: 2})}}</td>
			</tr>
			<tr>
				<td>Cr&eacute;dito Disponible</td>
				<td class="text-right">{{total.creditodisponible|format_currency('USD', {fraction_digit: 2})}}</td>
			</tr>
			<tr>
				<td>D&iacute;as Cr&eacute;dito</td>
				<td class="text-right">{{total.diascredito}}</td>
			</tr>
		</tbody>
	</table>
</div>

{% if rubrosOrden.pagar > total.creditodisponible%}
	<div class="alert alert-warning">
		<h5>
			<i class="icon fas fa-ban"></i>
			Atenci&oacute;n!</h5>
			No pose cupo suficiente para poder realizar el ticket. Por favor elija otra forma de pago. <br/>
			<a href="https://zfrmz.com/KZATfFHo5kpHlkJw5PW3" target="_blank" class="btn btn-dark">Solicitar Cŕedito Directo</a>
	</div>
{% else %}
	<div>
		<button id="finalizarOrden" type="button" class="btn btn-success" data-href="{{path('admin_finalizar_order')}}">Realizar Pago</button>
	</div>
{% endif %}
