<div>
    <h5 class="font-weight-bold">Transferencia Bancaria</h5>
    <div class="row">
        <div class="col-md-10 table-responsive">
            <table class="table table-hover text-nowrap table-sm">
                <tbody>
                    <tr>
                        <td>BANCO</td>
                        <td class="text-right">Procredit</td>
                    </tr>
                    <tr>
                        <td>Cuenta Corriente</td>
                        <td class="text-right">#009030151842</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-right">Kexam S.A.</td>
                    </tr>
                    <tr>
                        <td>RUC</td>
                        <td class="text-right">0992896264001</td>
                    </tr>
                    <tr>
                        <td>Correo</td>
                        <td class="text-right">financiero@kexamsa.com</td>
                    </tr>
                    <tr>
                        <td>Comprobante</td>
                        <td class="">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" data-extallowed="PDF,JPG,PNG,JPEG,DOC,DOCX" class="custom-file-input" id="archivocomprobante" name="archivocomprobante"/>
                                    <label class="custom-file-label" for="">Seleccione Comprobante</label>
                                </div>
                            </div>
                            <div class="progress" id="progressComprobante">
                                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    <span class="label">0% Comprobante</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <button id="finalizarOrden" type="button" class="btn btn-success disabled" disabled="disabled" data-href="{{path('admin_finalizar_order')}}">Realizar Pago</button>
</div>
