{% extends 'default/default_dashboard.html.twig' %}

{% block titlePage %}{% endblock %}

{% block titleWindow %}
	<div class="card-header">
		<h3 class="card-title">
			Primera Impresi&oacute;n
		</h3>
	</div>
{% endblock %}

{% block bodyWindow %}
	<div class="card-body">
		
	</div>
{% endblock %}

{% block footerWindow %}
	<div class="card-footer"></div>
{% endblock %}
