<form role="form" action="{{path('admin_direcciones_guardar')}}" method="POST" id="formRegistro">

	<input type="hidden" name="id" value="" class="resetInput">
	<input type="hidden" name="contactoId" value="{{contacto.id}}">

	<div class="form-group row">
		<label class="col-xl-3 col-form-label">Direcci&oacute;n :
		</label>
		<div class="col-xl-9">
			<input type="text" class="form-control" name="Name" placeholder="Dirección de la entrega" required>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-xl-3 col-form-label">Coordenada :
		</label>
		<div class="col-xl-9">
			<input type="text" class="form-control" name="Coordenadas" placeholder="Ejemplo: -2.208524, -79.890144" required>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-xl-3 col-form-label">Provincia :
		</label>
		<div class="col-xl-9">
			<select class="form-control" name="Provincia_Destino" required>
				<option/>
				{% for key, provincia in provincias %}
					<option id="{{key}}">{{key}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-xl-3 col-form-label">Ciudad :
		</label>
		<div class="col-xl-9">
			<select class="form-control" name="Ciudad_Destino1" disabled placeholder="Seleccione Provincia" required></select>
		</div>
	</div>

	<div class="">
		<button type="submit" id="saveDireccion" class="btn btn-success">Guardar</a>
	</div>

</form>
